{% macro operationsTypesCard(icon, title, textItems, buttons = [], showReadMore = false, labels = [], footerLinks = [], isImage = false) %}
<div class="operations-types-card">
    <div class="operations-types-card__double-border">
        <div class="operations-types-card__icon-wrapper">
            {% if isImage %}
                <img class="lazy" data-src="{{ icon }}" alt="{{ title }}" loading="lazy">
            {% else %}
                {{ icon | safe }}
            {% endif %}
        </div>
        <div class="operations-types-card__content">
            {% if labels.length %}
                <div class="operations-types-card__labels">
                    {% for label in labels %}
                        <div class="section-label">{{ label }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <h3 class="operations-types-card__title">{{ title }}</h3>
            <div class="operations-types-card__text-wrapper">
                <div class="operations-types-card__text">
                    {% for item in textItems %}
                        {% if item.type == 'paragraph' %}
                            <p>{{ item.content }}</p>
                        {% elif item.type == 'list' %}
                            <ul>
                                {% for li in item.items %}
                                    <li>{{ li }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if showReadMore %}
                    <button class="operations-types-card__read-more">Читать все</button>
                {% endif %}
            </div>
            <div class="operations-types-card__buttons">
                {% if footerLinks.length %}
                    {% for link in footerLinks %}
                        {% if link.show %}
                            <div class="border-block">
                                <a href="{{ link.url }}" class="operations-types-card__link"><span>{{ link.text }}</span></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% for button in buttons %}
                    {% if button.show %}
                        <div class="border-block">
                            <button class="operations-types-card__btn operations-types-card__btn--{{ button.type }}" data-src="{{ button.modal }}">
                                {{ button.text }}
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}