@use "core/mixins" as mix;
@use "core/breakpoints" as bp;

.find-more {
    padding-top: 46px;
    background: var(--color-8);

    @include bp.mq(tablet-xl) {
        padding-top: 70px;
        padding-bottom: 44px;
    }
    @include bp.mq(mobile-xl) {
        padding-top: 40px;
        padding-bottom: 32px;
    }

    .find-more-subtitle {
        max-width: 754px;
        margin: 16px auto 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-brown-dark);
        text-align: center;

        @include bp.mq(mobile-xl) {
            font-size: 18px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        margin-top: 22px;

        @include bp.mq(mobile-xl) {
            grid-template-columns: repeat(2, 1fr);
            gap: 11px;
        }
        @include bp.mq(mobile-l) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .information-card__icon {
        width: 81.977px;
        height: 77.739px;
        margin-bottom: 18px;
    }
}
