@use "core/mixins" as mix;
@use "core/breakpoints" as bp;

.expert-advice {
    padding-top: 22px;
    padding-bottom: 34px;
    background: var(--color-8);

    &__header {
        text-align: center;
    }

    .section-title {
        span {
            &::after {
                width: 100%;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1346' height='28' viewBox='0 0 1346 28' fill='none'%3E%3Cpath d='M33.5 0.5H15C15 0.5 0.5 0.5 0.5 15C0.5 27 16.5 27 16.5 27H1324.5C1324.5 27 1345.28 27 1345.28 15C1345.28 3 1334.5 0.5 1334.5 0.5H1317.5' stroke='%23C0A97F'/%3E%3C/svg%3E")
                    no-repeat center;
                background-size: 100% 100%;

                @include bp.mq(tablet-m) {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='603' height='28' viewBox='0 0 603 28' fill='none'%3E%3Cpath d='M23.6327 0.5H10.6644C10.6644 0.5 0.5 0.5 0.5 15.2736C0.5 27.5 11.7159 27.5 11.7159 27.5H587.93C587.93 27.5 602.5 27.5 602.5 15.2736C602.5 3.04717 594.94 0.5 594.94 0.5H583.023' stroke='%23967252'/%3E%3C/svg%3E");
                    background-size: 100% 100%;
                }
            }

            @include bp.mq(mobile-xl) {
                display: inline-block;
                max-width: 100%;
                word-break: normal;
                overflow-wrap: break-word;
                white-space: normal;
            }
        }
    }

    &__subtitle {
        max-width: 820px;
        margin: 16px auto 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-brown-dark);
        text-align: center;

        @include bp.mq(mobile-xl) {
            font-size: 18px;
        }
    }

    &__slider {
        margin-top: 21px;

        @include mix.swiper-nav-styles(
            "expert-advice-slider__nav",
            "expert-advice-slider__button-prev",
            "expert-advice-slider__button-next"
        );

        @include bp.mq(mobile-xl) {
            padding-right: 0;
            margin-right: -20px;
        }
        @include bp.mq(mobile-l) {
            margin-right: -15px;
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }
}
