@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.copyright {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-white);

    @include bp.mq(tablet-xl) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        padding-right: 0;
    }

    @include bp.mq(mobile-xl) {
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
        font-size: 16px;
    }

    span {
        @include bp.mq(tablet-xl) {
            order: 1;
        }

        @include bp.mq(mobile-xl) {
            text-align: center;
        }
    }

    a {
        width: fit-content;
        color: var(--color-white);
        transition: all 0.3s ease;

        &:nth-child(2) {
            @include bp.mq(tablet-xl) {
                order: 3;
            }

            @include bp.mq(mobile-xl) {
                order: 2;
            }
        }

        &:nth-child(3) {
            @include bp.mq(tablet-xl) {
                order: 2;
            }

            @include bp.mq(mobile-xl) {
                order: 3;
            }
        }

        &:hover {
            color: var(--color-primary);
        }
    }
}
