<div id="popup-butterfly" class="popup-butterfly">
    <div class="block">
        <h3>Увеличение ягодиц методом Butterfly — реабилитация</h3>
        <p>Реабилитация требует более внимательного соблюдения рекомендаций, так как операция включает подтяжку тканей.</p>
        <div>
            <b>В ранний период:</b>
            <ul>
                <li>отёки и дискомфорт</li>
                <li>ощущение натяжения кожи</li>
                <li>наличие послеоперационных швов</li>
            </ul>
        </div>
        <div>
            <b>Рекомендации:</b>
            <ul>
               <li>ограничение физической активности на 3–4 недели</li>
               <li>ношение компрессионного белья</li>
               <li>аккуратный уход за швами</li>
               <li>избегать натяжения и нагрузки на область операции</li>
            </ul>
        </div>
        <p>При сочетании с абдоминопластикой (торсопластика) период восстановления может быть более длительным.</p>
        <p>Первичный результат заметен сразу, окончательный — через 2–3 месяца после полного заживления тканей.</p>
    </div>
</div>