<button class="menu-open" type="button" data-toggle="menu" aria-label="Открыть меню">
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="22" viewBox="0 0 34 22" fill="none">
        <line x1="6.99382e-08" y1="20.8" x2="34" y2="20.8" stroke="url(#paint0_linear_46_1669)" stroke-width="1.6"/>
        <line x1="6.99382e-08" y1="10.8" x2="34" y2="10.8" stroke="url(#paint1_linear_46_1669)" stroke-width="1.6"/>
        <line x1="6.99382e-08" y1="0.800006" x2="34" y2="0.800009" stroke="url(#paint2_linear_46_1669)" stroke-width="1.6"/>
        <defs>
            <linearGradient id="paint0_linear_46_1669" x1="-4.37114e-08" y1="22.1" x2="34" y2="22.1" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFEDD4"/>
                <stop offset="1" stop-color="#E18911"/>
            </linearGradient>
            <linearGradient id="paint1_linear_46_1669" x1="-4.37114e-08" y1="12.1" x2="34" y2="12.1" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFEDD4"/>
                <stop offset="1" stop-color="#E18911"/>
            </linearGradient>
            <linearGradient id="paint2_linear_46_1669" x1="-4.37114e-08" y1="2.10001" x2="34" y2="2.10001" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFEDD4"/>
                <stop offset="1" stop-color="#E18911"/>
            </linearGradient>
        </defs>
    </svg>
</button>