@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.navigation-mobile {
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 29px;

      > .item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid;
        border-image-source: linear-gradient(90deg, #7B4B09 0%, #E18911 100%);
        border-image-slice: 1;

        > a {
          display: flex;
          font-size: 20px;
          font-weight: 400;
          line-height: 96%;
          color: var(--color-white);
          transition: all 0.3s;
        }

        .toggle {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          padding: 0;
          color: var(--color-black);
          cursor: pointer;
          background: none;
          border: none;
          transition: transform 0.3s;

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      &.is-open {
        > .item .toggle {
          transform: rotate(180deg);
        }
      }
    }
  }

  // Submenu
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    ul {
      padding-left: 36px;
      margin-top: 22px;

      > li {
        border-bottom: unset;
        margin-bottom: 0;

        > .item {
          border: none;

          a {
            font-size: 16px;
            font-weight: 500;
            line-height: 96%;
          }
        }
      }
    }
  }
}
