@use "core/mixins" as mix;
@use "core/breakpoints" as bp;

@include mix.decorated-section(".special-offer-sub");

.special-offer-sub {
  padding-top: 25px;
  padding-bottom: 50px;
  background: var(--color-8);

   @include bp.mq(tablet-xl) {
    padding-bottom: 50px;
  }
  @include bp.mq(mobile-xl) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__decor {
    top: -64px;
    margin-right: -20%;
    margin-left: -20%;
    filter: blur(32.9px);
  }

  &__text-wrapper {
    max-width: 1158px;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
    color: var(--color-brown-dark);
    text-align: center;

    @include bp.mq(mobile-xl) {
      font-size: 16px;
      text-align: left;
    }
  }

  &__header {
    @include bp.mq(mobile-xl) {
      margin-top: -100px;
    }
  }

  .section-title {
    font-family: var(--font-family-secondary);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 96%;
    text-align: center;
    text-transform: uppercase;
    background: var(--bg-headlane, linear-gradient(89deg, #967252 31.15%, #ceb48c 99.32%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      position: relative;
      display: inline-block;
      padding: 0 39px 8.5px;
      font-style: normal;
      font-weight: 400;
      line-height: 96%;
      text-align: center;
      text-transform: uppercase;
      background: var(--bg-headlane, linear-gradient(89deg, #967252 31.15%, #ceb48c 99.32%));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include bp.mq(mobile-l) {
        padding: 0 20px 12.5px;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 28px;
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1346' height='28' viewBox='0 0 1346 28' fill='none'%3E%3Cpath d='M33.5 0.5H15C15 0.5 0.5 0.5 0.5 15C0.5 27 16.5 27 16.5 27H1324.5C1324.5 27 1345.28 27 1345.28 15C1345.28 3 1334.5 0.5 1334.5 0.5H1317.5' stroke='%23C0A97F'/%3E%3C/svg%3E")
        no-repeat center;
        background-size: 100% 100%;
        transform: translateX(-50%);

        @include bp.mq(tablet-m) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='603' height='28' viewBox='0 0 603 28' fill='none'%3E%3Cpath d='M23.6327 0.5H10.6644C10.6644 0.5 0.5 0.5 0.5 15.2736C0.5 27.5 11.7159 27.5 11.7159 27.5H587.93C587.93 27.5 602.5 27.5 602.5 15.2736C602.5 3.04717 594.94 0.5 594.94 0.5H583.023' stroke='%23967252'/%3E%3C/svg%3E");
          background-size: 100% 100%;
        }
      }
    }

    @include bp.mq(tablet-xl) {
      font-size: 42px;
    }

    @include bp.mq(mobile-xl) {
      font-size: 36px;
    }
  }

  &__subtitle {
    max-width: 820px;
    margin: 16px auto 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
    color: var(--color-brown-dark);
    text-align: center;

    @include bp.mq(mobile-xl) {
      font-size: 16px;
    }
  }

  .special-offer-sub-slider {
    padding-top: 20px;
    padding-bottom: 20px;

    @include bp.mq(tablet-xl) {
      @include mix.swiper-nav-styles(
                      "special-offer-sub-slider__nav",
                      "special-offer-sub-slider__button-prev",
                      "special-offer-sub-slider__button-next"
      );
    }

    @include bp.mq(mobile-xl) {
      margin-right: -20px !important;
    }

    @include bp.mq(mobile-m) {
      margin-right: -15px !important;
    }

    &__nav {
      display: none;

      @include bp.mq(tablet-xl) {
        display: none !important;
      }

      @include bp.mq(mobile-xl) {
        display: flex !important;
      }
    }

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 18px;
      align-items: stretch;
      margin-top: 26px;

      @include bp.mq(laptop) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include bp.mq(mobile-xl) {
        display: flex;
        gap: 0;
        align-items: stretch;
      }

      .swiper-slide {
        @include bp.mq(tablet-xl) {
          display: flex;
          height: auto;
        }
      }
    }
  }

  .pricing-card {
    height: 100%;
  }
}