{% from "components/general/pricing-card/pricing-card-sub.njk" import pricingCardSub %}

<section class="special-offer-sub section">
    <div class="special-offer-sub__bg"></div>
    <div class="special-offer-sub__decor"></div>
    <div class="container">
        <div class="special-offer-sub__header">
            {% set title = {
                text: "<span>Специальное предложение</span>",
                tag: "h2",
                class: "section-title"
            } %}
            {% include "components/general/title/title.njk" %}
            <p class="special-offer-sub__subtitle">Выгодные предложения на пластические операции в BIOS Clinic</p>
        </div>

        <div class="special-offer-sub__slider-wrapper">
            <div class="swiper special-offer-sub-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ pricingCardSub(
                            label="актуальные спецпредложения",
                            title="Комплексная скидка 10%",
                            price="",
                            text="Получите скидку при одновременном выполнении нескольких операций. Комплексный подход позволяет добиться гармоничного результата и сократить период реабилитации",
                            buttonText="Записаться",
                            icon="/assets/images/content/offer-icon-1.png"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ pricingCardSub(
                            label="актуальные спецпредложения",
                            title="Скидка для постоянных клиентов 10%",
                            price="",
                            text="Риносептопластика включает полный комплекс услуг: консультация, операция, наркоз, стационар, послеоперационные перевязки и осмотры",
                            buttonText="Записаться",
                            icon="/assets/images/content/offer-icon-1.png"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ pricingCardSub(
                            label="актуальные спецпредложения",
                            title="Бесплатная консультация пластического хирурга",
                            price="",
                            text="Реконструктивная ринопластика включает полный комплекс услуг: консультация, операция, наркоз, стационар, послеоперационные перевязки и осмотры",
                            buttonText="Записаться",
                            icon="/assets/images/content/offer-icon-1.png"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ pricingCardSub(
                            label="актуальные спецпредложения",
                            title="Сезонное предложение - летние скидки 10%",
                            price="",
                            text="Реконструктивная ринопластика включает полный комплекс услуг: консультация, операция, наркоз, стационар, послеоперационные перевязки и осмотры",
                            buttonText="Записаться",
                            icon="/assets/images/content/offer-icon-1.png"
                        ) }}
                    </div>
                </div>

                <div class="special-offer-sub-slider__nav">
                    <div class="special-offer-sub-slider__button-prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 6L8.34315 11.6569L14 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="special-offer-sub-slider__button-next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 6L15.6569 11.6569L10 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <p class="special-offer-sub__text-wrapper">
            Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста
        </p>
    </div>
</section>