<section class="clinic-location section">
    <div class="clinic-location__content">
        <div class="container">
            <div class="clinic-location__left">
                <div class="clinic-location__text-block">
                    <h2 class="section-title">Расположение клиники</h2>
                    <div class="clinic-location__text">
                        <p>Клиника находится в Москве рядом с Парк Покровское-Стрешнево - в тихой и зеленой зоне.</p>
                        <p>Вы можете совместить консультацию и обследование с комфортной прогулкой</p>
                    </div>
                </div>

                <div class="clinic-location__list">
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="30+ лет опыта в пластической хирургии" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">30+ лет опыта в пластической хирургии</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="более 40 000 пациентов" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">более 40 000 пациентов</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="работа на базе клинической больнице" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">работа на базе клинической больнице</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="современное оборудование" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">современное оборудование</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="высокий уровень безопасности" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">высокий уровень безопасности</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="комплексный подход" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-text">комплексный подход</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>