<section class="clinic-location section good-operation">
    <div class="clinic-location__content">
        <div class="container">
            <div class="clinic-location__left">
                <div class="clinic-location__text-block">
                    <h2 class="section-title">кому подходит пластическая операция</h2>
                </div>

                <div class="clinic-location__list">
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/operation-icon-1.png" alt="Эстетические показания" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Эстетические показания</p>
                            <p class="clinic-location__item-text">Желание изменить внешночть, улучшить пропорции, скорректировать возрастные изменения</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/operation-icon-1.png" alt="Медицинские показания" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Медицинские показания</p>
                            <p class="clinic-location__item-text">Функциональные нарушения (дыхание, осанка) последствия травм и операций</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/operation-icon-3.png" alt="Возрастные ограничения" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Возрастные ограничения</p>
                            <p class="clinic-location__item-text">От 18 лет для большинства операций. Индивидуальный подход</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/operation-icon-4.png" alt="Психологическая готовность" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Психологическая готовность</p>
                            <p class="clinic-location__item-text">Осознанное решение, реалистичные ожидания, стабильное состояние</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>