<section class="clinic-location section good-operation good-operation-sub">
    <div class="clinic-location__content">
        <div class="container">
            <div class="clinic-location__left">
                <div class="clinic-location__text-block">
                    <h2 class="section-title">Возможные риски и осложнения</h2>
                </div>

                <div class="clinic-location__list">
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/risk-icon-1.png" alt="Отёки и гематомы" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Отёки и гематомы</p>
                            <p class="clinic-location__item-text">Желание изменить внешночть, улучшить пропорции, скорректировать возрастные изменения</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/risk-icon-1.png" alt="Ассиметрия результата" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Ассиметрия результата</p>
                            <p class="clinic-location__item-text">Функциональные нарушения (дыхание, осанка) последствия травм и операций</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/risk-icon-3.png" alt="Временная потеря чувствительности" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Временная потеря чувствительности</p>
                            <p class="clinic-location__item-text">От 18 лет для большинства операций. Индивидуальный подход</p>
                        </div>
                    </div>
                    <div class="clinic-location__item">
                        <div class="clinic-location__item-icon">
                            <img src="/assets/images/content/risk-icon-4.png" alt="Общехирургические риски" width="127" height="120">
                        </div>
                        <div class="clinic-location__item-content">
                            <p class="clinic-location__item-title">Общехирургические риски</p>
                            <p class="clinic-location__item-text">Осознанное решение, реалистичные ожидания, стабильное состояние</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>