<section class="services-categories section services-categories-documents">
    <div class="services-categories__bg"></div>
    <div class="services-categories__decor"></div>
    <div class="container">
        <div class="services-categories__files">
            {% set files = [
                {
                    title: "Название документа 1. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                },
                {
                    title: "Название документа 2. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                },
                {
                    title: "Название документа 3. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                },
                {
                    title: "Название документа 4. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                },
                {
                    title: "Название документа 5. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                },
                {
                    title: "Название документа 6. Сроки и условия акций уточняйте у администратора клиники. Зависят от выбранного Вами пластического хирурга. Скидки не суммируются. Имеются противопоказания, необходима консультация специалиста",
                    url: "/assets/files/test.pdf"
                }
            ] %}

            {% for file in files %}
                <a href="{{ file.url }}" class="services-categories__file" download>
                    <div class="services-categories__file-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="49" viewBox="0 0 40 49" fill="none">
                            <path d="M0.75 4C0.75 1.79086 2.54086 0 4.75 0H19.95H26.2133C26.8068 0 27.3697 0.263646 27.7497 0.719631L38.6864 13.8437C38.986 14.2032 39.15 14.6562 39.15 15.1241V24V44C39.15 46.2091 37.3591 48 35.15 48H4.75C2.54086 48 0.75 46.2091 0.75 44V4Z" stroke="#967252" stroke-width="1.5"/>
                            <path d="M27.15 1.19922V12.3992C27.15 13.5038 28.0454 14.3992 29.15 14.3992H37.95" stroke="#967252" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M10.35 24H29.55" stroke="#967252" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M10.35 36H19.95" stroke="#967252" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="services-categories__file-content">
                        <div class="services-categories__file-title">{{ file.title }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>