{% macro specialistCard(image, title, text, alt = '') %}
    <div class="specialist-card">
        <div class="specialist-card__image">
            <img class="lazy" src="{{ image }}" alt="{{ alt or title }}">
        </div>
        <div class="specialist-card__title">{{ title }}</div>
        <div class="specialist-card__text">{{ text }}</div>
    </div>
{% endmacro %}