<section class="advantages section advantages-sub">
    <div class="container">
        <div class="advantages__header">
            {% set title = {
                text: "<span>почему выбирают&nbsp;нас</span>",
                tag: "h2",
                class: "section-title"
            } %}
            {% include "components/general/title/title.njk" %}
        </div>

        <div class="advantages__list">
            <div class="information-card">
                <div class="information-card__inner">
                    <div class="information-card__icon">
                        <img class="lazy" data-src="/assets/images/content/advantages1.png" alt="Клиника работает с 1993 года" loading="lazy">
                    </div>
                    <h3 class="information-card__title">Клиника работает с 1993 года</h3>
                    <p class="information-card__text">Более 40,000 пациентов. Надежность и опыт, проверенные временем</p>
                </div>
            </div>

            <div class="information-card">
                <div class="information-card__inner">
                    <div class="information-card__icon">
                        <img class="lazy" data-src="/assets/images/content/advantages2.png" alt="Проводим весь спектр пластических операций" loading="lazy">
                    </div>
                    <h3 class="information-card__title">Проводим весь спектр пластических операций</h3>
                    <p class="information-card__text">Лицо, грудь, тело, реконструкция, комплексные операции</p>
                </div>
            </div>

            <div class="information-card">
                <div class="information-card__inner">
                    <div class="information-card__icon">
                        <img class="lazy" data-src="/assets/images/content/advantages3.png" alt="На базе госпиталя гражданской авиации" loading="lazy">
                    </div>
                    <h3 class="information-card__title">На базе госпиталя гражданской авиации</h3>
                    <p class="information-card__text">Высокие стандарты безопасности и качества</p>
                </div>
            </div>

            <div class="information-card">
                <div class="information-card__inner">
                    <div class="information-card__icon">
                        <img class="lazy" data-src="/assets/images/content/advantages4.png" alt="Круглосуточное дежурство реанимационной бригады" loading="lazy">
                    </div>
                    <h3 class="information-card__title">Круглосуточное дежурство реанимационной бригады</h3>
                    <p class="information-card__text">Спокойствие пациента начинается с безопасности</p>
                </div>
            </div>
        </div>

        <div class="advantages__footer">
            <div class="border-container">
                <div class="advantages__text">
                    <b>Клиника пластической хирургии БИОС</b> — это современные технологии, передовое оборудование и высокий уровень медицинской безопасности. Мы выполняем операции с применением эндоскопических методик, вибрационной малотравматичной липосакции, а также <strong>проводим комплексные операции</strong>.<br>
                    Наша задача — добиться максимально естественного результата и обеспечить пациенту комфорт на каждом этапе: от консультации до полного восстановления.
                </div>
            </div>
        </div>
    </div>
</section>