@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.rhinoplasty-types {
    background: url("../assets/images/content/services-bg.jpg") no-repeat center;
    background-size: cover;

    @include bp.mq(tablet-xl) {
        padding-top: 70px;
        padding-bottom: 44px;
    }
    @include bp.mq(mobile-xl) {
        padding-top: 40px;
        padding-bottom: 32px;
    }

    h2 {
        @include bp.mq(mobile-xl) {
            padding-right: 0;
            padding-left: 0;
        }

        @include bp.mq(mobile-m) {
            margin-right: -10px;
            margin-left: -10px;
        }
    }

    &__subtitle {
        max-width: 754px;
        margin: 16px auto 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-brown-dark);
        text-align: center;

        @include bp.mq(mobile-xl) {
            font-size: 18px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 21px;

        @include bp.mq(tablet-xl) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        > .operations-types-card:last-child {
            grid-column: span 2;
        }
    }
}
