@use "core/breakpoints" as bp;

@mixin reset-child-outer-margins {
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin line-clamp($lines: 3) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}


@mixin button-gradient($padding: 16px 38px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: $padding;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-brown);
    cursor: pointer;
    border-radius: 49px;
    border: 1px solid #DEC294;
    background: linear-gradient(96deg, rgba(190, 145, 88, 0.74) 12.36%, rgba(247, 224, 170, 0.74) 53.53%, rgba(190, 145, 88, 0.74) 91.65%);
    box-shadow: 3px 3px 6px 0 rgba(123, 75, 9, 0.30);
    backdrop-filter: blur(2px);
    transition: all 0.3s;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(276deg, rgba(190, 145, 88, 0.74) 12.36%, rgba(247, 224, 170, 0.74) 53.53%, rgba(190, 145, 88, 0.74) 91.65%);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
        border-radius: 49px;
    }

    &:hover {
        transform: translateY(-2px);

        &::before {
            opacity: 1;
        }
    }

    > * {
        position: relative;
        z-index: 1;
    }

    @include bp.mq(laptop-l) {
        padding: 10px 38px;
    }
}

@mixin border-block {
    border-radius: 49px;
    border: 1px solid #C0A97F;
    max-width: 330px;
    background: transparent;
    padding: 4px;

    &:hover {
        transform: translateY(-2px);
        transition: all 0.3s ease;

        a {
            transform: translateY(-2px);

            &:hover {
                transform: none;
            }
        }
    }
}