@use "core/breakpoints" as bp;

@mixin reset-child-outer-margins {
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin line-clamp($lines: 3) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin button-gradient($padding: 16px 38px) {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: $padding;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-brown);
    cursor: pointer;
    background: linear-gradient(
        96deg,
        rgb(190 145 88 / 74%) 12.36%,
        rgb(247 224 170 / 74%) 53.53%,
        rgb(190 145 88 / 74%) 91.65%
    );
    border: 1px solid #dec294;
    border-radius: 49px;
    box-shadow: 3px 3px 6px 0 rgb(123 75 9 / 30%);
    backdrop-filter: blur(2px);
    transition: all 0.3s;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
            276deg,
            rgb(190 145 88 / 74%) 12.36%,
            rgb(247 224 170 / 74%) 53.53%,
            rgb(190 145 88 / 74%) 91.65%
        );
        border-radius: 49px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        transform: translateY(-2px);

        &::before {
            opacity: 1;
        }
    }

    > * {
        position: relative;
        z-index: 1;
    }

    @include bp.mq(laptop-l) {
        padding: 10px 38px;
    }
}

@mixin border-block {
    max-width: 330px;
    padding: 4px;
    background: transparent;
    border: 1px solid #c0a97f;
    border-radius: 49px;

    &:hover {
        transform: translateY(-2px);
        transition: all 0.3s ease;

        a {
            transform: translateY(-2px);

            &:hover {
                transform: none;
            }
        }
    }
}

@mixin swiper-nav-styles(
    $nav-class: "swiper-custom-nav",
    $prev-class: "swiper-custom-nav-prev",
    $next-class: "swiper-custom-nav-next"
) {
    position: relative;
    padding-right: 2.3%;
    padding-left: 2.3%;
    margin-right: -2.3%;
    margin-left: -2.3%;

    @include bp.mq(laptop-xl) {
        padding-right: 1%;
        padding-left: 1%;
        margin-right: -1%;
        margin-left: -1%;
    }

    .#{$nav-class} {
        position: absolute;
        top: 36%;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        width: 100%;
        pointer-events: none;

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            pointer-events: auto;
            cursor: pointer;
            background: transparent;
            border: 1px solid #be9158;
            border-radius: 50%;
            transition: all 0.3s ease;

            &.swiper-button-disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.5;
            }

            &:hover:not(.swiper-button-disabled) {
                background: #be9158;

                svg path {
                    stroke: #fff;
                }
            }
        }
    }
}

// Миксин для секции с фоновым декором
@mixin decorated-section($section) {
    #{$section} {
        position: relative;
        padding-top: 0;
        padding-bottom: 54px;
        margin-top: -150px;

        @include bp.mq(tablet-xl) {
            margin-top: 0;
        }

        @include bp.mq(mobile-xl) {
            padding-bottom: 0;
        }

        &__bg {
            position: absolute;
            inset: 150px 0 0;
            background: linear-gradient(180deg, #f7f8f2 0%, #f6efe5 100%);

            @include bp.mq(tablet-xl) {
                top: 0;
            }
        }

        .container {
            position: relative;
            z-index: 2;
        }

        &__decor {
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            z-index: 1;
            height: 223px;
            background: linear-gradient(180deg, #f7f8f2 0%, #f6efe5 100%);
            filter: blur(77.9px);

            @include bp.mq(laptop-m) {
                right: -20%;
                left: -20%;
                filter: blur(50.9px);
            }

            @include bp.mq(tablet-xl) {
                top: -120px;
                filter: blur(45.9px);
            }

            @include bp.mq(mobile-xl) {
                top: -90px;
                filter: blur(40.9px);
            }

            @include bp.mq(mobile-m) {
                top: -50px;
                filter: blur(44.9px);
            }
        }

        h2 {
            span {
                margin-bottom: 22.5px;
                color: transparent;
                background: linear-gradient(89deg, #fff 31.15%, #ffebcd 99.32%);
                -webkit-background-clip: text;
                background-clip: text;

                @include bp.mq(tablet-xl) {
                    background: var(--bg-headlane, linear-gradient(89deg, #967252 31.15%, #ceb48c 99.32%));
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 100%;
                    max-width: 860px;
                    height: 28px;
                    content: "";
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='860' height='28' viewBox='0 0 860 28' fill='none'%3E%3Cpath d='M33.5 0.5H15C15 0.5 0.5 0.5 0.5 15C0.5 27 16.5 27 16.5 27H838.5C838.5 27 859.285 27 859.285 15C859.285 3 848.5 0.5 848.5 0.5H831.5' stroke='%23FFF2D9'/%3E%3C/svg%3E")
                    no-repeat center;
                    background-size: 100% 100%;
                    transform: translateX(-50%);

                    @include bp.mq(tablet-xl) {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='603' height='28' viewBox='0 0 603 28' fill='none'%3E%3Cpath d='M23.6327 0.5H10.6644C10.6644 0.5 0.5 0.5 0.5 15.2736C0.5 27.5 11.7159 27.5 11.7159 27.5H587.93C587.93 27.5 602.5 27.5 602.5 15.2736C602.5 3.04717 594.94 0.5 594.94 0.5H583.023' stroke='%23967252'/%3E%3C/svg%3E");
                        background-size: 100% 100%;
                    }
                }
            }

        }
    }
}


// Миксин для текстового попапа
@mixin text-popup {
    border-radius: 20px;
    background: var(--fill-place, linear-gradient(180deg, #F7F8F2 0%, #F6EFE5 100%));
    box-shadow: 0 4px 20px 0 rgba(132, 79, 36, 0.25);
    padding: 54px 50px 59px 50px;
    max-width: 650px;
    display: none;

    @include bp.mq(mobile-xl) {
        padding: 54px 12px 59px 12px;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .f-button.is-close-button {
        top: 13px;
        right: 16px;
        transition: all 0.3s ease;

        svg {
            stroke: var(--color-brown);
            fill: none;
        }

        &:hover {
            transform: rotate(180deg);
        }
    }

    h3 {
        font-family: var(--font-family-secondary);
        color: var(--color-brown-dark);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin: 0;
    }

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-black);
        margin: 0;
    }

    ol {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-black);
        margin: 0;
    }

    h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 136%;
        color: var(--color-black);
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 25px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 136%;
            color: var(--color-black);

            &::before {
                content: "—";
                position: absolute;
                left: 0;
                color: inherit;
            }
        }
    }
}