@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    // --------------------------------------
    // -- Base Сolors
    // --------------------------------------
    --color-white: #fff;
    --color-black: #000;
    --color-brown: #6d3f00;
    --color-brown-dark: #25170e;
    --color-gold: #dec6b0;

    // --------------------------------------
    // -- Brand Сolors
    // --------------------------------------
    --color-primary: #fce6b5;

    // --------------------------------------
    // -- Others Сolors
    // --------------------------------------
    --color-1: #25170e;
    --color-2: #fbedd6;
    --color-3: #be9158;
    --color-4: #ddc9a8;
    --color-5: #aa7735;
    --color-6: #967252;
    --color-7: #965e2d;
    --color-8: #f6efe5;
    --color-9: #39251c;
    --color-10: #ad8d6a;
    --color-11: #844f24;
    --color-12: #845830;
    --color-13: #e9d7c3;
    --color-14: #f9bf75;
    --color-15: #c0a97f;
    --color-16: #4b3323;
    --color-17: #977e52;
    --color-18: #f7e0aa;

    // --------------------------------------
    // -- Fonts
    // --------------------------------------
    --font-family-primary: "Montserrat", sans-serif;
    --font-family-secondary: "Bona Nova", serif;
    --font-family-commissioner: "Commissioner", sans-serif;

    // --------------------------------------
    // -- Sizes
    // --------------------------------------
    --container-width: 1638px;
    --container-padding: 77px;
    --header-main-height: 95px;
    --header-height: var(--header-main-height);
    --section-pt: 72px;
    --section-pb: 60px;

    @include bp.mq(laptop-l) {
        --container-padding: 24px;
    }

    @include bp.mq(tablet-xl) {
        --header-main-height: 71px;
    }

    @include bp.mq(tablet) {
        --container-padding: 20px;
    }

    @include bp.mq(mobile-xl) {
        --header-main-height: 49px;
        --section-pt: 51px;
        --section-pb: 51px;
    }

    @include bp.mq(mobile-l) {
        --container-padding: 15px;
    }
}
