@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.direction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 41px 20px 40px;
  background: rgb(255 255 255 / 40%);
  border-top: 8px solid #BE9158;
  border-right: 1px solid #BE9158;
  border-bottom: 1px solid #BE9158;
  border-left: 1px solid #BE9158;
  border-radius: 20px;

  @include bp.mq(tablet-xl) {
    padding: 40px 15px 30px;
  }

  &__media {
    display: flex;
    gap: 25px;
    align-items: center;

    @include bp.mq(tablet-xl) {
      flex-direction: column;
      gap: 7px;
      justify-content: center;
      margin-bottom: 23px;
    }
  }

  &__label {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    color: var(--color-brown-dark);
  }

  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    color: var(--color-brown-dark);
    text-align: center;

    @include bp.mq(mobile-xl) {
      font-size: 16px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 81.973px;
    height: 77.739px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
    color: var(--color-brown-dark);
    text-align: center;

    @include bp.mq(tablet-xl) {
      font-size: 20px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 71px;
      height: 1px;
      content: "";
      background: var(--color-3);
      transform: translateX(-50%);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-brown);

    span {
      display: inline-block;
      flex-shrink: 0;
      width: 3px;
      height: 3px;
      margin-top: 10px;
      background: var(--color-brown);
      border-radius: 50%;
    }

  }
}