<div id="popup-find-more" class="popup-find-more">
    <div class="block">
        <h3>О процедуре</h3>
        <p>Ринопластика считается одной из самых древних хирургических операций. Первые упоминания о восстановлении носа относятся к древней Индии — ещё более 2000 лет назад врачи выполняли реконструкцию носа с использованием кожных лоскутов.</p>
        <p>В дальнейшем методы хирургической коррекции носа развивались в Европе, особенно в эпоху Ренессанса, когда были описаны первые системные подходы к восстановлению формы лица после травм.</p>
        <p>Современная ринопластика начала активно развиваться в XX веке с появлением анестезии, антисептики и более точных хирургических техник. Это позволило перейти от исключительно реконструктивных операций к эстетической коррекции формы носа</p>
        <p>Сегодня ринопластика — это высокотехнологичное направление пластической хирургии, сочетающее в себе медицинскую точность, индивидуальный подход и эстетическое моделирование.</p>
        <p>Ринопластика может проводиться как по эстетическим показаниям, когда пациента не устраивает форма носа, так и по медицинским, если имеются нарушения носового дыхания, последствия травм или врожденные деформации.</p>
        <p>Использование современных методик, включая ультразвуковые технологии, позволяет выполнять операции максимально деликатно, безопасно и с прогнозируемым результатом</p>
    </div>
</div>