@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.career-path {
  display: flex;
  flex-direction: column;
  gap: 45px;
  background: var(--color-8);

  @include bp.mq(mobile-xl) {
    display: none;
  }

  .section-label {
    margin: 0 auto 45px;
  }

  &__grid {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1.6px;
      content: '';
      background: #6D3F00;
      transform: translateX(-50%);
    }
  }

  &__item {
    position: relative;
    width: 50%;

    &:nth-child(odd) {
      padding-right: 44px;
      margin-right: auto;
      text-align: right;

      &::after {
        position: absolute;
        top: 18px;
        right: -11px;
        z-index: 1;
        width: 22px;
        height: 22px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Ccircle cx='7' cy='7' r='7' transform='matrix(1 0 0 -1 4 18)' fill='%236D3F00'/%3E%3Ccircle cx='11' cy='11' r='10.5' transform='matrix(1 0 0 -1 0 22)' stroke='%236D3F00'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &:nth-child(even) {
      padding-left: 44px;
      margin-left: auto;

      &::before {
        position: absolute;
        top: 18px;
        left: -11px;
        z-index: 1;
        width: 22px;
        height: 22px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Ccircle cx='7' cy='7' r='7' transform='matrix(1 0 0 -1 4 18)' fill='%236D3F00'/%3E%3Ccircle cx='11' cy='11' r='10.5' transform='matrix(1 0 0 -1 0 22)' stroke='%236D3F00'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &__item-text {
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-brown);

    @include bp.mq(tablet-xl) {
      font-size: 16px;
    }
  }
}