<div id="popup-what-this" class="popup-what-this">
    <div class="block">
        <h3>Что такое ринопластика</h3>
        <p>Современная ринопластика решает сразу несколько задач. С эстетической точки зрения операция помогает изменить форму спинки носа, скорректировать кончик, уменьшить или уточнить ширину носа, устранить асимметрию, сделать профиль более мягким и сбалансированным.</p>
        <p>С функционической стороны ринопластика может быть направлена на восстановление свободного носового дыхания, устранение искривления перегородки и коррекцию внутренних анатомических нарушений. </p>
        <p>Главная особенность современной ринопластики — индивидуальный подход. Операция не выполняется по шаблону: хирург учитывает анатомические особенности пациента, тип кожи, строение хрящевых и костных структур, пропорции лица, а также пожелания к будущему результату. </p>
        <p>Цель вмешательства — не просто изменить нос, а создать естественный, гармоничный и эстетичный результат, который будет соответствовать внешности пациента.</p>
        <p>Ринопластика может проводиться как по эстетическим показаниям, когда пациента не устраивает форма носа, так и по медицинским, если имеются нарушения носового дыхания, последствия травм или врожденные деформации.</p>
        <p>Во многих случаях эстетическая и функциональная коррекция объединяются в рамках одной операции, что позволяет одновременно улучшить внешний вид носа и восстановить его функцию</p>

        <ol>
            <li>Гармонизация внешности  Коррекция формы и пропорций носа для создания естественного и сбалансированного результата.</li>
            <li>Функциональная коррекция  Восстановление носового дыхания за счёт устранения внутренних анатомических нарушений.</li>
            <li>Комплексный подход  Одновременное улучшение эстетики носа и его функции в рамках одной операции.</li>
        </ol>
    </div>
</div>