<div id="popup-gluteoplasty" class="popup-gluteoplasty">
    <div class="block">
        <h3>Глютеопластика (импланты) — реабилитация</h3>
        <p>Более длительный период восстановления по сравнению с другими методиками.</p>
        <div>
            <b>В первые недели:</b>
            <ul>
                <li>выраженные отёки</li>
                <li>чувство натяжения</li>
                <li>дискомфорт при движении</li>
            </ul>
        </div>
        <div>
            <b>Рекомендации:</b>
            <ul>
               <li>ограничение сидения в первые 2–3 недели</li>
               <li>ношение компрессионного белья до 4–6 недель</li>
               <li>сключение физических нагрузок на 1–1,5 месяца</li>
               <li>аккуратное возвращение к активности</li>
            </ul>
        </div>
        <p>Полное восстановление занимает до 2–3 месяцев. Окончательный результат формируется по мере адаптации тканей.</p>
    </div>
</div>