<section class="rhinoplasty-description section">
    <div class="rhinoplasty-description__bg"></div>
    <div class="rhinoplasty-description__decor"></div>

    <div class="container">
        <div class="services-categories-info">
            <div class="services-categories-info__images-list">
                <div class="services-categories-info__image-item">
                    <img class="lazy" src="/assets/images/content/hero-info1.png" alt="">
                </div>
                <div class="services-categories-info__image-item">
                    <img class="lazy" src="/assets/images/content/hero-info2.png" alt="">
                </div>
                <div class="services-categories-info__image-item">
                    <img class="lazy" src="/assets/images/content/hero-info23.png" alt="">
                </div>
            </div>

            <div class="services-categories-info__rating">
                <div class="services-categories-info__stars">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M9.93343 0.392125C10.1697 -0.13071 10.9122 -0.130709 11.1484 0.392127L13.7278 6.09979C13.8248 6.31443 14.0278 6.46195 14.2619 6.48787L20.4873 7.17718C21.0575 7.24032 21.287 7.94646 20.8627 8.33273L16.2315 12.5496C16.0573 12.7081 15.9798 12.9468 16.0274 13.1775L17.2956 19.3112C17.4118 19.873 16.8111 20.3095 16.3126 20.0253L10.8711 16.9238C10.6664 16.8072 10.4154 16.8072 10.2108 16.9238L4.76923 20.0253C4.27076 20.3095 3.67009 19.873 3.78625 19.3112L5.05443 13.1775C5.10212 12.9468 5.02456 12.7081 4.8504 12.5496L0.219141 8.33273C-0.205093 7.94646 0.0243464 7.24032 0.594604 7.17718L6.81997 6.48787C7.05407 6.46195 7.25712 6.31443 7.35411 6.09979L9.93343 0.392125Z" fill="#C59F6B"/>
                    </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M9.93343 0.392125C10.1697 -0.13071 10.9122 -0.130709 11.1484 0.392127L13.7278 6.09979C13.8248 6.31443 14.0278 6.46195 14.2619 6.48787L20.4873 7.17718C21.0575 7.24032 21.287 7.94646 20.8627 8.33273L16.2315 12.5496C16.0573 12.7081 15.9798 12.9468 16.0274 13.1775L17.2956 19.3112C17.4118 19.873 16.8111 20.3095 16.3126 20.0253L10.8711 16.9238C10.6664 16.8072 10.4154 16.8072 10.2108 16.9238L4.76923 20.0253C4.27076 20.3095 3.67009 19.873 3.78625 19.3112L5.05443 13.1775C5.10212 12.9468 5.02456 12.7081 4.8504 12.5496L0.219141 8.33273C-0.205093 7.94646 0.0243464 7.24032 0.594604 7.17718L6.81997 6.48787C7.05407 6.46195 7.25712 6.31443 7.35411 6.09979L9.93343 0.392125Z" fill="#C59F6B"/>
                    </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M9.93343 0.392125C10.1697 -0.13071 10.9122 -0.130709 11.1484 0.392127L13.7278 6.09979C13.8248 6.31443 14.0278 6.46195 14.2619 6.48787L20.4873 7.17718C21.0575 7.24032 21.287 7.94646 20.8627 8.33273L16.2315 12.5496C16.0573 12.7081 15.9798 12.9468 16.0274 13.1775L17.2956 19.3112C17.4118 19.873 16.8111 20.3095 16.3126 20.0253L10.8711 16.9238C10.6664 16.8072 10.4154 16.8072 10.2108 16.9238L4.76923 20.0253C4.27076 20.3095 3.67009 19.873 3.78625 19.3112L5.05443 13.1775C5.10212 12.9468 5.02456 12.7081 4.8504 12.5496L0.219141 8.33273C-0.205093 7.94646 0.0243464 7.24032 0.594604 7.17718L6.81997 6.48787C7.05407 6.46195 7.25712 6.31443 7.35411 6.09979L9.93343 0.392125Z" fill="#C59F6B"/>
                    </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M9.93343 0.392125C10.1697 -0.13071 10.9122 -0.130709 11.1484 0.392127L13.7278 6.09979C13.8248 6.31443 14.0278 6.46195 14.2619 6.48787L20.4873 7.17718C21.0575 7.24032 21.287 7.94646 20.8627 8.33273L16.2315 12.5496C16.0573 12.7081 15.9798 12.9468 16.0274 13.1775L17.2956 19.3112C17.4118 19.873 16.8111 20.3095 16.3126 20.0253L10.8711 16.9238C10.6664 16.8072 10.4154 16.8072 10.2108 16.9238L4.76923 20.0253C4.27076 20.3095 3.67009 19.873 3.78625 19.3112L5.05443 13.1775C5.10212 12.9468 5.02456 12.7081 4.8504 12.5496L0.219141 8.33273C-0.205093 7.94646 0.0243464 7.24032 0.594604 7.17718L6.81997 6.48787C7.05407 6.46195 7.25712 6.31443 7.35411 6.09979L9.93343 0.392125Z" fill="#C59F6B"/>
                    </svg>
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M9.93343 0.392125C10.1697 -0.13071 10.9122 -0.130709 11.1484 0.392127L13.7278 6.09979C13.8248 6.31443 14.0278 6.46195 14.2619 6.48787L20.4873 7.17718C21.0575 7.24032 21.287 7.94646 20.8627 8.33273L16.2315 12.5496C16.0573 12.7081 15.9798 12.9468 16.0274 13.1775L17.2956 19.3112C17.4118 19.873 16.8111 20.3095 16.3126 20.0253L10.8711 16.9238C10.6664 16.8072 10.4154 16.8072 10.2108 16.9238L4.76923 20.0253C4.27076 20.3095 3.67009 19.873 3.78625 19.3112L5.05443 13.1775C5.10212 12.9468 5.02456 12.7081 4.8504 12.5496L0.219141 8.33273C-0.205093 7.94646 0.0243464 7.24032 0.594604 7.17718L6.81997 6.48787C7.05407 6.46195 7.25712 6.31443 7.35411 6.09979L9.93343 0.392125Z" fill="#C59F6B"/>
                    </svg>
                </div>
                <div class="services-categories-info__rating-text">5.0 рейтинг на основе 250+ отзывов</div>
            </div>
        </div>

        {# Первый блок #}
        <div class="rhinoplasty-description__content">
            <div class="rhinoplasty-description__right">
                <div class="section-label">Экспертное мнение</div>
                <div class="rhinoplasty-description__text-block">
                    <h2 class="section-title">Что такое ринопластика</h2>
                    <div class="rhinoplasty-description__text">
                        <p>Ринопластика — это хирургическая операция, направленная на коррекцию формы, размеров и пропорций носа, а также, при необходимости, на восстановление его полноценной функции. Это одно из самых востребованных направлений эстетической и реконструктивной хирургии, позволяющее не только улучшить внешний вид носа, но и гармонизировать черты лица в целом</p>
                    </div>
                    <div class="border-block">
                        <button class="rhinoplasty-description__btn" data-src="popup-what-this">
                            <span>Узнать больше</span>
                        </button>
                    </div>
                </div>

                <div class="rhinoplasty-description__list">
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-1.png" alt="Гармонизация внешности" width="82" height="78">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Гармонизация<br>внешности</h4>
                            <p class="rhinoplasty-description__item-text">Коррекция формы и пропорций носа для создания естественного и сбалансированного результата</p>
                        </div>
                    </div>
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-2.png" alt="Функциональная коррекция" width="81" height="77">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Функциональная<br>коррекция</h4>
                            <p class="rhinoplasty-description__item-text">Восстановление носового дыхания за счёт устранения внутренних анатомических нарушений</p>
                        </div>
                    </div>
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-3.png" alt="Комплексный подход" width="81" height="77">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Комплексный<br>подход</h4>
                            <p class="rhinoplasty-description__item-text">Одновременное улучшение эстетики носа и его функции в рамках одной операции</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Второй блок #}
        <div class="rhinoplasty-description__content">
            <div class="rhinoplasty-description__left">
                <div class="rhinoplasty-description__text-block">
                    <h2 class="section-title">кому подходит операция</h2>
                    <div class="rhinoplasty-description__text">
                        <p>Ринопластика подходит пациентам, которые хотят улучшить форму носа, восстановить его пропорции или решить функциональные проблемы, связанные с нарушением носового дыхания.</p>
                        <p>Операция может быть рекомендована как по эстетическим, так и по медицинским показаниям. К эстетическим показаниям относятся ситуации, когда пациента не устраивает форма носа: наличие горбинки, широкая спинка, массивный или опущенный кончик, выраженная асимметрия, слишком крупный или непропорциональный нос</p>
                    </div>
                    <div class="border-block">
                        <button class="rhinoplasty-description__btn" data-src="popup-who-suitable">
                            <span>Узнать больше</span>
                        </button>
                    </div>
                </div>

                <div class="rhinoplasty-description__list">
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-1.png" alt="Недовольство формой носа" width="82" height="78">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Недовольство формой носа</h4>
                            <p class="rhinoplasty-description__item-text">Операция подходит пациентам, которых не устраивает форма, размер или пропорции носа. Позволяет скорректировать горбинку, кончик, ширину и асимметрию</p>
                        </div>
                    </div>
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-4.png" alt="Нарушение носового дыхания" width="81" height="77">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Нарушение носового дыхания</h4>
                            <p class="rhinoplasty-description__item-text">Рекомендуется при искривлении перегородки, последствиях травм и других анатомических изменениях. Помогает восстановить нормальную функцию дыхания</p>
                        </div>
                    </div>
                    <div class="rhinoplasty-description__item">
                        <div class="rhinoplasty-description__item-icon">
                            <img src="/assets/images/content/rhino-icon-3.png" alt="Желание естественного результата" width="81" height="77">
                        </div>
                        <div class="rhinoplasty-description__item-content">
                            <h4 class="rhinoplasty-description__item-title">Желание естественного результата</h4>
                            <p class="rhinoplasty-description__item-text">Подходит пациентам, которые хотят улучшить внешность без потери индивидуальности. Результат выглядит гармонично и естественно</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>