@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.article-short {
    padding-top: 36px;
    background: var(--color-8);

    @include bp.mq(mobile-xl) {
        padding-top: 25px;
    }

    &.article-short-sub {
        .article-short__header {
            margin-bottom: 30px;
        }

        .tabs__nav {
           margin-bottom: 0;
        }

        .tabs {
            @include bp.mq(tablet-xl) {
                margin-right: -20px;
            }

            @include bp.mq(mobile-l) {
                margin-right: -15px !important;
            }
        }

        .tabs__content {
           overflow: visible;
        }
    }

    .article-slider {
        @include bp.mq(tablet-xl) {
            @include mixin.swiper-nav-styles(
                "article-slider__nav",
                "article-slider__button-prev",
                "article-slider__button-next"
            );

            padding-right: 0 !important;
            margin-right: -20px !important;
        }

        @include bp.mq(mobile-l) {
            margin-right: -15px !important;
        }

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 22px;
            align-items: stretch;
            margin-top: 54.5px;
            margin-bottom: 40px;

            & > :nth-child(n + 4) {
                display: none;
            }

            @include bp.mq(tablet-xl) {
                display: flex;
                gap: 0;
                align-items: stretch;

                & > :nth-child(n + 4) {
                    display: flex;
                }
            }

            .swiper-slide {
                @include bp.mq(tablet-xl) {
                    display: flex;
                    height: auto;
                }
            }
        }
    }

    &__footer {
        .border-block {
            @include mixin.border-block;

            max-width: 188px;
            margin: 0 auto;

            @include bp.mq(mobile-l) {
                max-width: 328px;
            }
        }

        a {
            @include mixin.button-gradient(24px 40px);

            max-width: 100%;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.article-slider__nav {
    display: none;

    @include bp.mq(tablet-xl) {
        display: flex;
    }
}
