{# Карточка категории услуг #}
{% macro serviceCategoryCard(icon, title, items=[], linkUrl="#", linkText="Перейти", imageMobile="", iconImg="") %}
<div class="service-category-card">
    <div class="service-category-card__image">
        <picture>
            {% if imageMobile %}
                <source media="(max-width: 759.98px)" srcset="{{ imageMobile }}">
            {% endif %}
            <source media="(min-width: 760px)" srcset="{{ icon }}">
            <img class="lazy" data-src="{{ icon }}" alt="{{ title }}" loading="lazy">
        </picture>
    </div>
    <div class="service-category-card__content">
        <div class="service-category-card__icon">
            <img class="lazy" src="{{ iconImg | default('./assets/images/content/service-icon.png') }}" alt="{{ title }}" class="service-category-card__icon-img">
        </div>
        <h3 class="service-category-card__title">{{ title }}</h3>
        <ul class="service-category-card__list">
            {% for item in items %}
                <li>{{ item.text }}</li>
            {% endfor %}
        </ul>
        <div class="border-block">
            <a href="{{ linkUrl }}" class="service-category-card__link">
                {{ linkText }}
            </a>
        </div>
    </div>
</div>
{% endmacro %}