{% set meta = { title: "О клинике" } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "/" },
        { title: "О клинике", url: "/about.html" }
    ]
} %}
{% set page = {
    heading: false,
    after_content: true,
    breadcrumbsSeparator: "line-gradient"
} %}
{% extends "layouts/default.njk" %}

{% block content %}
    {# Hero с кастомными параметрами для страницы О клинике #}
    {% set hero = {
        title: "Клиника пластической хирургии Биос в&nbsp;Москве",
        class: "hero-services-detail about-hero"
    } %}
    {% include "blocks/common/hero/hero-services-detail.njk" %}
    {% include "blocks/common/advantages/about-advantages.njk" %}
    {% set showButton = false %}
    {% include "blocks/common/about-short/about-short.njk" %}
    {% include "blocks/common/operating-activities/operating-activities.njk" %}
    {% include "blocks/common/operational-examination/operational-examination.njk" %}
    {% include "blocks/common/about-description/about-description.njk" %}
    {% include "blocks/common/about-excellence/about-excellence.njk" %}
    {% include "blocks/common/bank-details/bank-details.njk" %}
    {% include "blocks/common/official-documents/official-documents.njk" %}
    {% include "blocks/common/clinic-location/clinic-location.njk" %}

    {# Переопределяем переменные для selection-operation #}
    {% set class = "selection-operation--about" %}
    {% set title = "онлайн подбор операции" %}
    {% set highlightText = "для иногородних пациентов" %}
    {% set description = "Подберем для вас оптимальные процедуры на основе ваших индивидуальных потребностей" %}
    {% set buttonText = "Отправить заявку" %}
    {% set buttonPopup = "popup-entry" %}

    {% include "blocks/common/selection-operation/selection-operation.njk" %}

    {% include "blocks/common/article-short/article-short.njk" %}
    {% include "blocks/common/reviews-short/reviews-short.njk" %}
    {% include "blocks/common/find-more/find-more.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}