{% set meta = { title: "Статьи" } %}
{% set breadcrumbs = {
     items: [
            { title: "Главная", url: "/" },
            { title: "Статьи" }
        ]
} %}
{% set page = {
    heading: false,
    after_content: true,
    breadcrumbsSeparator: "line-gradient"
} %}
{% extends "layouts/default.njk" %}

{% block content %}
    {% set hero = {
        title: "Статьи",
        class: "hero-services-detail hero-article"
    } %}

    {% include "blocks/common/hero/hero-services-detail.njk" %}
    {% include "blocks/common/services-categories/services-categories-article.njk" %}
    {% include "blocks/common/selection-operation/selection-operation.njk" %}
    {% include "blocks/common/find-more/find-more.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}