{% set meta = { title: "наши Специалисты" } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "/" },
        { title: "Статьи", url: "/article.html" },
        { title: "Пластическая хиругия: возможности современной эстетической медицины" }
    ]
} %}
{% set page = {
    heading: false,
    after_content: true,
    breadcrumbsSeparator: "line-gradient"
} %}
{% extends "layouts/default.njk" %}

{% block content %}
     {% set hero = {
            title: "Пластическая хиругия: возможности современной эстетической медицины",
            label: "Экспертная статья",
            class: "hero-services-detail hero-article article-card",
            bg: "/assets/images/content/documents-bg.png",
            bgLaptop: "/assets/images/content/article-bg-laptop.png",
            bgTablet: "/assets/images/content/article-bg-tablet.png",
            bgMobile: "/assets/images/content/article-bg-mobile.png"
        } %}

     {% include "blocks/common/hero/hero-services-detail.njk" %}
    {% include "blocks/common/services-categories/services-categories-directions.njk" %}
    {% include "blocks/common/clinic-location/good-operation.njk" %}
    {% include "blocks/common/article-text/article-text.njk" %}
     {% include "blocks/common/undergoing-surgery/undergoing-surgery-article.njk" %}
     {% include "blocks/common/clinic-location/good-operation-sub.njk" %}
     {% include "blocks/common/article-text/article-text-sub.njk" %}
     {# Переопределяем переменные для selection-operation #}
                {% set class = "selection-operation--enlargemen" %}
                {% set title = "онлайн подбор операции" %}
                {% set highlightText = "для иногородних пациентов" %}
                {% set description = "Подберем для вас оптимальные процедуры на основе ваших индивидуальных потребностей" %}
                {% set buttonText = "Отправить заявку" %}
                {% set buttonPopup = "popup-entry" %}

                {% include "blocks/common/selection-operation/selection-operation.njk" %}

    {% include "blocks/common/questions/questions.njk" %}
    {% include "blocks/common/find-more/find-more.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}