{% set meta = { title: "Главная" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: true } %}
{% extends "layouts/default.njk" %}
{% block content %}
     {% include "blocks/common/hero/hero.njk" %}
{% endblock %}
{% block after_content %}

{% endblock %}