{% set meta = { title: "Главная" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: false} %}
{% extends "layouts/default.njk" %}

{% block content %}
    {% set hero = {
        bg: "/assets/images/content/hero-bg.png",
        bgLaptop: "/assets/images/content/hero-bg-laptop.png",
        bgTablet: "/assets/images/content/hero-bg-tablet.png",
        bgMobile: "/assets/images/content/hero-bg-mobile.png"
    } %}
    {% include "blocks/common/hero/hero.njk" %}

    {% include "blocks/common/advantages/advantages.njk" %}
    {% include "blocks/common/services-short/services-short.njk" %}
    {% include "blocks/common/before-after-short/before-after-short.njk" %}
    {% include "blocks/common/specialists-short/specialists-short.njk" %}

    {% set class = "selection-operation--home" %}
    {% set title = "онлайн подбор операции" %}
    {% set highlightText = "для иногородних пациентов" %}
    {% set description = "Подберем для вас оптимальные процедуры на основе ваших индивидуальных потребностей" %}
    {% set buttonText = "Отправить заявку" %}
    {% set buttonPopup = "popup-entry" %}
    {% set backgroundImage = "" %}
    {% set pretitle = "" %}

    {% include "blocks/common/selection-operation/selection-operation.njk" %}

    {% include "blocks/common/about-short/about-short.njk" %}
    {% include "blocks/common/reviews-short/reviews-short.njk" %}
    {% include "blocks/common/stories-short/stories-short.njk" %}
    {% include "blocks/common/article-short/article-short.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}