{% set meta = { title: "Главная" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: true } %}
{% extends "layouts/default.njk" %}
{% block content %}

{% endblock %}
{% block after_content %}

{% endblock %}