{% set meta = { title: "Акции" } %}
{% set breadcrumbs = {
     items: [
            { title: "Главная", url: "/" },
            { title: "Акции" }
        ]
} %}
{% set page = {
    heading: false,
    after_content: true,
    breadcrumbsSeparator: "line-gradient"
} %}
{% extends "layouts/default.njk" %}

{% block content %}
    {% set hero = {
            title: "Акции",
            class: "hero-services-detail hero-promotions"
        } %}

        {% include "blocks/common/hero/hero-services-detail.njk" %}
    {% include "blocks/common/special-offer/special-offer-promotions.njk" %}
    {% include "blocks/common/surgeons-enlargemen/surgeons-enlargemen.njk" %}
    {% include "blocks/common/nav-section/nav-section.njk" %}
    {% include "blocks/common/price-list/price-list.njk" %}
    {% include "blocks/common/before-after-short/before-after-doctor.njk" %}

     {# Переопределяем переменные для selection-operation #}
        {% set class = "selection-operation--enlargemen" %}
        {% set title = "Записаться на консультацию" %}
        {% set description = "Консультация бесплатно при проведении операции в BIOS Clinic." %}
        {% set buttonText = "Записаться" %}
        {% set buttonPopup = "popup-entry" %}

        {% include "blocks/common/selection-operation/selection-operation.njk" %}

     {% include "blocks/common/stories-short/stories-short-sub.njk" %}
     {% include "blocks/common/reviews-short/reviews-short-sub.njk" %}
    {% include "blocks/common/find-more/find-more.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}