{% set meta = { title: "Ринопластика" } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "/" },
        { title: "Услуги", url: "/services.html" },
        { title: "Ринопластика" }
    ]
} %}
{% set page = {
    heading: false,
    after_content: true,
    breadcrumbsSeparator: "line-gradient"
} %}
{% extends "layouts/default.njk" %}

{% block content %}
    {# Hero с кастомными параметрами для страницы ринопластики #}
    {% set hero = {
        title: "Ринопластика: Искусство и наука преображения",
        label: "Ринопластика",
        description: "Ринопластика считается одной из самых древних хирургических операций. Первые упоминания о восстановлении носа относятся к древней Индии — ещё более 2000 лет назад врачи выполняли реконструкцию носа с использованием кожных лоскутов",
        buttonText: "узнать больше о процедуре",
        buttonPopup: "popup-find-more",
        linkText: "Результаты до/после",
        linkUrl: "#before-after-short",
        showRating: true,
        class: "hero-services-detail rhinoplasty-hero"
    } %}
    {% include "blocks/common/hero/hero-services-detail.njk" %}

    {% include "blocks/common/rhinoplasty-description/rhinoplasty-description.njk" %}
    {% include "blocks/common/operations-types/rhinoplasty-types.njk" %}
    {% include "blocks/common/undergoing-surgery/undergoing-surgery.njk" %}
    {% include "blocks/common/rehabilitation-rhinoplasty/rehabilitation-rhinoplasty.njk" %}
    {% include "blocks/common/before-after-short/before-after-rhinoplasty.njk" %}
    {% include "blocks/common/technology/technology.njk" %}
    {% include "blocks/common/pricing/pricing.njk" %}
    {% include "blocks/common/surgeons/surgeons.njk" %}
    {% include "blocks/common/stories-short/stories-short-sub.njk" %}
    {% include "blocks/common/reviews-short/reviews-short-sub.njk" %}
    {% include "blocks/common/expert-advice/expert-advice.njk" %}
    {% include "blocks/common/questions/questions.njk" %}
    {% include "blocks/common/main-form/main-form.njk" %}
{% endblock %}

{% block after_content %}
{% endblock %}