@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.main-form {
  padding-top: 0;
  padding-bottom: 0;
  background: linear-gradient(34deg, #4A3323 45.04%, #A88460 78.48%);
  backdrop-filter: blur(2px);
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include bp.mq(tablet-xl) {
      display: flex;
      flex-direction: column;
    }
  }

  &__form {

    padding-top: 93px;
    padding-bottom: 83px;
    border-right: 1px solid #604631;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp.mq(tablet-xl) {
      align-items: flex-start;
      padding: 72px 20px 55px 20px;
    }

    @include bp.mq(mobile-xl) {
      padding: 40px 20px 41px 20px;
    }

    .section-title {
      color: var(--color-white);
      background: none;
      -webkit-text-fill-color: var(--color-white);
      max-width: 611px;
      padding-left: 0;
      padding-right: 0;

      @include bp.mq(tablet-xl) {
        text-align: left;
      }

      &::after {
        display: none;
      }
    }

    .form {
      max-width: 611px;
      margin-top: 47px;

      @include bp.mq(laptop) {
        max-width: 534px;
      }

      @include bp.mq(mobile-xl) {
        margin-top: 24px;
      }
    }

    .consent-checkbox.variant label .value {
        color: var(--color-13);

      a {
        color: var(--color-13);
      }
    }

    .field-error {
      color: var(--color-white);
    }

    .border-block {
      border: 1px solid var(--color-14);
      padding: 4px;
      border-radius: 49px;
      backdrop-filter: blur(2px);
      transition: all 0.3s ease;
      max-width: 269px;

      @include bp.mq(mobile-l) {
        max-width: 100%;
      }

      &:hover {
        transform: translateY(-2px);
      }

      button {
        transform: none;
        background: var(--bg, linear-gradient(96deg, #BE9158 12.36%, #F7E0AA 53.53%, #BE9158 91.65%));
        backdrop-filter: blur(2px);

        &::before {
          background: var(--bg, linear-gradient(276deg, #BE9158 12.36%, #F7E0AA 53.53%, #BE9158 91.65%));
        }

        span {
          color: var(--color-white);
          position: relative;
          z-index: 2;

          @include bp.mq(mobile-xl) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .form-bg {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(34deg, #4A3323 45.04%, #A88460 78.48%);
    backdrop-filter: blur(2px);
    z-index: 0;

    @include bp.mq(tablet-xl) {
      width: 100%;
    }
  }

  .form-social {
    margin-top: 29px;
    display: grid;
    grid-template-columns: 418px 1fr;
    gap: 56px;
    position: relative;
    z-index: 2;

    @include bp.mq(laptop) {
      grid-template-columns: 364px 1fr;
    }

    @include bp.mq(tablet-xl) {
      grid-template-columns: 418px 1fr;
    }

    @include bp.mq(tablet-xl) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;
    }

    &__wrapper {

      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-white);
        margin: 0;

        @include bp.mq(mobile-xl) {
          text-align: center;
        }

        &:first-child {
          @include bp.mq(laptop-l) {
             display: flex;
            flex-direction: column;
          }

          @include bp.mq(tablet-xl) {
            display: block;
          }
        }

        a {
          color: var(--color-white);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__map {
    flex: 1;
    position: relative;

    .map-decor {
      background: linear-gradient(180deg, rgba(124, 89, 63, 0.00) 0%, #4A3323 100%);
      position: absolute;
      z-index: 0;
      pointer-events: none;

      &:first-child {
        width: 196px;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../assets/images/content/map-decor1.png') no-repeat center;
        background-size: cover;
      }

      &:nth-child(2) {
        width: 100%;
        height: 171px;
        bottom: -2px;
        left: 0;
        background: url('../assets/images/content/map-decor2.png') no-repeat center;
        background-size: 100% 100%;
      }

      &:nth-child(3) {
        width: 232px;
        height: 100%;
        top: 0;
        right: 0;
        background: url('../assets/images/content/map-decor3.png') no-repeat center;
        background-size: 100% 100%;
      }

      &:nth-child(4) {
        width: 100%;
        height: 233px;
        top: 0;
        left: 0;
        background: url('../assets/images/content/map-decor4.png') no-repeat center;
        background-size: 100% 100%;
      }
    }

     iframe {
      width: 100%;
      height: 100%;

       @include bp.mq(tablet-xl) {
         height: 415px;
       }
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: 348px 1fr;
    padding-left: 93px;
    padding-right: 93px;
    gap: 61px;
    background: var(--color-16);
    position: relative;
    z-index: 2;

    @include bp.mq(laptop-l) {
      padding-right: 44px;
      padding-left: 44px;
    }

    @include bp.mq(tablet-xl) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include bp.mq(mobile-xl) {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }

    @include bp.mq(mobile-l) {
      padding-right: 15px;
      padding-left: 15px;
    }

    & > div {
      &:first-child {

        @include bp.mq(mobile-xl) {
          text-align: center;
        }

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          color: var(--color-white);
          margin-top: 37px;
          margin-bottom: 6px;

          @include bp.mq(mobile-xl) {
            text-align: center;
          }

          &:last-child {
            margin-top: 15px;
            margin-bottom: 37px;

            @include bp.mq(mobile-xl) {
              margin-bottom: 0;
            }
          }
        }

        .address-link {
          color: var(--color-white);
          text-decoration: underline;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 136%;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &:last-child {
        padding-top: 37px;
        padding-bottom: 37px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include bp.mq(mobile-xl) {
          align-items: start;
          justify-content: center;
          padding-top: 0;
          padding-bottom: 30px;
        }

        .border-block {
          border-radius: 49px;
          border: 1px solid var(--color-15);
          backdrop-filter: blur(2px);
          padding: 4px;

          @include bp.mq(mobile-l) {
            max-width: 100%;
            width: 100%;
          }

          .map-link {
            @include mix.button-gradient(24px 40px);
          }
        }
      }
    }
  }
}