{% macro pricingCardSub(label, title, price, text, buttonText = "Выбрать", icon = "/assets/images/content/offer-icon-1.png") %}
<div class="pricing-card pricing-card-sub">
    <div class="pricing-card__inner">
        <div class="pricing-card__header">
            <div class="pricing-card__label">
                <span>{{ label }}</span>
            </div>
            <div class="pricing-card__icon">
                <img src="{{ icon }}" alt="{{ title }}" class="pricing-card__icon-img" width="56" height="56">
            </div>
        </div>
        <h3 class="pricing-card__title">{{ title }}</h3>
        <p class="pricing-card__text">{{ text }}</p>
        <div class="border-block">
            <button class="pricing-card__btn"><span>{{ buttonText }}</span></button>
        </div>
    </div>
</div>
{% endmacro %}