@use "core/mixins" as mix;
@use "core/breakpoints" as bp;

.information-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 7px;
    background: rgb(255 255 255 / 40%);
    border: 1px solid #be9158;
    border-radius: 20px;

    @include bp.mq(laptop-l) {
        width: 30%;
    }

    @include bp.mq(tablet-xl) {
        width: auto;
    }

    &.information-card-sub {
        .information-card__icon {
            width: 49.313px;
            height: 49.786px;
            margin: 0 auto 6px;
        }

        .information-card__title {
            position: relative;
            padding-bottom: 17px;
            margin-bottom: 17px;
            font-size: 28px;

            @include bp.mq(mobile-xl) {
                padding-bottom: 0;
                margin-bottom: 10px;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 132px;
                height: 2px;
                content: "";
                background: var(--color-3);
                transform: translateX(-50%);

                @include bp.mq(mobile-xl) {
                    display: none;
                }
            }

            @include bp.mq(mobile-xl) {
                font-size: 22px;
            }
        }

        .information-card__list {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .information-card__list-item {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 136%;
            color: var(--color-brown);
            text-align: center;

            span {
                position: relative;
                padding-left: 15px;

                &::before {
                    position: absolute;
                    top: 11px;
                    left: 0;
                    width: 3px;
                    height: 3px;
                    color: inherit;
                    content: "";
                    background: var(--color-brown-dark);
                    border-radius: 50%;
                }
            }

            @include bp.mq(mobile-xl) {
                font-size: 16px;
            }
        }

    }

    &__inner {
        flex: 1;
        padding: 29px 30px 42px;
        border: 1px solid #be9158;
        border-radius: 20px;

        @include bp.mq(tablet-xl) {
            padding: 23px 3px 30px;
        }
    }

    &__icon {
        width: 147.414px;
        height: 130.209px;
        margin: 0 auto 48px;

        @include bp.mq(laptop-m) {
            margin-bottom: 18px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        margin-bottom: 18px;
        font-family: var(--font-family-secondary);
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        color: var(--color-brown-dark);
        text-align: center;

        @include bp.mq(tablet-xl) {
            font-size: 26px;
        }
        @include bp.mq(mobile-xl) {
            word-break: normal;
            overflow-wrap: break-word;
        }
    }

    &__text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: var(--color-brown);
        text-align: center;

        @include bp.mq(mobile-xl) {
            word-break: normal;
            overflow-wrap: break-word;
        }
    }

    .border-block {
        @include mix.border-block;

        max-width: 300px;
        margin: 0 auto;

        @include bp.mq(mobile-l) {
            max-width: 300px;
        }

        a {
            @include mix.button-gradient(24px 40px);

            max-width: 100%;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
