{# Карточка информации со списком #}
{% macro informationCardSub(icon, title, items, linkUrl="", linkText="Узнать больше", showLink=false) %}
<div class="information-card information-card-sub">
    <div class="information-card__inner">
        <div class="information-card__icon">
            <img class="lazy" data-src="{{ icon }}" alt="{{ title }}" loading="lazy">
        </div>
        <h3 class="information-card__title">{{ title }}</h3>

        <ul class="information-card__list">
            {% for item in items %}
                <li class="information-card__list-item"><span>{{ item }}</span></li>
            {% endfor %}
        </ul>

        {% if showLink and linkUrl %}
          <div class="border-block">
            <a href="{{ linkUrl }}" class="information-card__link">
                <span>{{ linkText }}</span>
            </a>
         </div>
        {% endif %}
    </div>
</div>
{% endmacro %}