{# blocks/common/selection-operation/selection-operation.njk #}

<section class="selection-operation section {{ class | default('') }}">
    <div class="container">
        <div class="selection-operation__wrapper">
            <div class="selection-operation__grid">
                <div class="selection-operation__content">
                    <h2 class="selection-operation__title">
                        {{ title | default('Онлайн подбор операции') }}
                        {% if highlightText %}
                            <span class="selection-operation__highlight">{{ highlightText }}</span>
                        {% endif %}
                    </h2>
                    <p class="selection-operation__text">
                        {{ description | default('Подберем для вас оптимальные процедуры на основе ваших индивидуальных потребностей') }}
                    </p>
                    <div class="border-block">
                        <button class="selection-operation__button" data-src="{{ buttonPopup | default('popup-consultation') }}">
                            {{ buttonText | default('Отправить заявку') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>