<div id="popup-entry" class="popup-entry">
    <div class="block">
        <div class="heading">
            <div class="title">запишитесь на консультацию</div>
            <div class="text">Заполните поля и мы с Вами свяжемся для уточнения деталей</div>
        </div>
        <div class="frame">
            {% include "components/general/form/form.njk" %}
        </div>
    </div>
</div>