{# Карточка вариантов услуг #}
{% macro serviceVariantsCard(icon, title, text="", items=[], url="#", showLink=true, linkText="Узнать больше", imageMobile="") %}
<div class="service-variants-card">
    <div class="service-variants-card__image">
        <picture>
            {% if imageMobile %}
                <source media="(max-width: 759.98px)" srcset="{{ imageMobile }}">
            {% endif %}
            <source media="(min-width: 760px)" srcset="{{ icon }}">
            <img class="lazy" data-src="{{ icon }}" alt="{{ title }}" loading="lazy">
        </picture>
    </div>
    <div class="service-variants-card__content">
        <h3 class="service-variants-card__title">{{ title }}</h3>

        {% if items | length > 0 %}
            <ul class="service-variants-card__list">
                {% for item in items %}
                    <li><span>{{ item.text }}</span></li>
                {% endfor %}
            </ul>
        {% elif text %}
            <p class="service-variants-card__text">{{ text }}</p>
        {% endif %}

        {% if showLink %}
            <a href="{{ url }}" class="service-variants-card__link">
                <span>{{ linkText }}</span>
            </a>
        {% endif %}
    </div>
</div>
{% endmacro %}