{# blocks/common/reviews-short/reviews-short.njk #}

{% from "components/general/border-wrapper/border-wrapper.njk" import borderWrapper %}
{% from "components/general/review-card/review-card.njk" import reviewCard %}

<section class="reviews-short section">
    <div class="border-block">
        <a href="/reviews" class="link-all-reviews">
            <span>Отзывы наших клиентов</span>
        </a>
    </div>

    {% call borderWrapper('Что говорят наши клиенты', 'h2', 'section-title', false, '/reviews') %}
        <div class="container">
            <!-- Рейтинги -->
            <div class="reviews-short__ratings">
                <a href="#" class="reviews-short__rating-link">
                    Яндекс.карты
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.43695 0.549524C7.76806 -0.183195 8.8086 -0.183194 9.13972 0.549525L10.8551 4.34553C10.9911 4.64632 11.2756 4.85306 11.6037 4.88939L15.744 5.34783C16.5432 5.43632 16.8647 6.42593 16.2702 6.96726L13.1901 9.77176C12.946 9.99398 12.8373 10.3285 12.9042 10.6517L13.7476 14.7311C13.9104 15.5185 13.0686 16.1301 12.37 15.7319L8.75097 13.6692C8.4642 13.5058 8.11246 13.5058 7.82569 13.6692L4.20665 15.7319C3.50809 16.1301 2.66628 15.5185 2.82908 14.7311L3.6725 10.6517C3.73934 10.3285 3.63064 9.99398 3.38658 9.77176L0.30646 6.96726C-0.288076 6.42592 0.0334679 5.43632 0.832646 5.34783L4.97295 4.88939C5.30103 4.85306 5.58559 4.64632 5.72152 4.34553L7.43695 0.549524Z" fill="#BE9158"/>
                    </svg>
                    5,0
                </a>
                <a href="#" class="reviews-short__rating-link">
                    ПроДокторов
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.43695 0.549524C7.76806 -0.183195 8.8086 -0.183194 9.13972 0.549525L10.8551 4.34553C10.9911 4.64632 11.2756 4.85306 11.6037 4.88939L15.744 5.34783C16.5432 5.43632 16.8647 6.42593 16.2702 6.96726L13.1901 9.77176C12.946 9.99398 12.8373 10.3285 12.9042 10.6517L13.7476 14.7311C13.9104 15.5185 13.0686 16.1301 12.37 15.7319L8.75097 13.6692C8.4642 13.5058 8.11246 13.5058 7.82569 13.6692L4.20665 15.7319C3.50809 16.1301 2.66628 15.5185 2.82908 14.7311L3.6725 10.6517C3.73934 10.3285 3.63064 9.99398 3.38658 9.77176L0.30646 6.96726C-0.288076 6.42592 0.0334679 5.43632 0.832646 5.34783L4.97295 4.88939C5.30103 4.85306 5.58559 4.64632 5.72152 4.34553L7.43695 0.549524Z" fill="#BE9158"/>
                    </svg>
                    4,7
                </a>
                <a href="#" class="reviews-short__rating-link">
                    2GIS
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.43695 0.549524C7.76806 -0.183195 8.8086 -0.183194 9.13972 0.549525L10.8551 4.34553C10.9911 4.64632 11.2756 4.85306 11.6037 4.88939L15.744 5.34783C16.5432 5.43632 16.8647 6.42593 16.2702 6.96726L13.1901 9.77176C12.946 9.99398 12.8373 10.3285 12.9042 10.6517L13.7476 14.7311C13.9104 15.5185 13.0686 16.1301 12.37 15.7319L8.75097 13.6692C8.4642 13.5058 8.11246 13.5058 7.82569 13.6692L4.20665 15.7319C3.50809 16.1301 2.66628 15.5185 2.82908 14.7311L3.6725 10.6517C3.73934 10.3285 3.63064 9.99398 3.38658 9.77176L0.30646 6.96726C-0.288076 6.42592 0.0334679 5.43632 0.832646 5.34783L4.97295 4.88939C5.30103 4.85306 5.58559 4.64632 5.72152 4.34553L7.43695 0.549524Z" fill="#BE9158"/>
                    </svg>
                    4,7
                </a>
            </div>

            <!-- Блок с процентами -->
            <div class="reviews-short__stats">
                <div class="reviews-short__stat">
                    <span class="reviews-short__stat-value">98%</span>
                </div>
                <div class="reviews-short__stat">
                    <span class="reviews-short__stat-text">пациентов рекомендуют нас друзьям</span>
                </div>
            </div>

            <!-- Слайдер -->
            <div class="reviews-short__slider">
                <div class="swiper reviews-slider">
                    <div class="swiper-wrapper">
                        <!-- Слайд 1 -->
                        <div class="swiper-slide">
                            {{ reviewCard(
                                '/assets/images/content/review-card1.jpg',
                                'Я смело могу рекомендовать каждому',
                                'Мария',
                                'Я не могла дышать САМА. Я перенесла тяжелую простуду, после которой начала пользоваться каплями от насморка и не могла без них. После операции дыхание восстановилось и также у меня красивый нос.',
                                'Шемонаева Ольга Михайловна'
                            ) }}
                        </div>

                        <!-- Слайд 2 -->
                        <div class="swiper-slide">
                            {{ reviewCard(
                                '/assets/images/content/review-card2.jpg',
                                'Лучший врач в своей области',
                                'Анна',
                                'Очень благодарна доктору за профессионализм и чуткое отношение. Все прошло отлично, результат превзошел ожидания. Рекомендую всем!',
                                'Петрова Екатерина Андреевна'
                            ) }}
                        </div>

                        <!-- Слайд 3 (с двумя соавторами) -->
                        <div class="swiper-slide">
                            {{ reviewCard(
                                '/assets/images/content/review-card3.jpg',
                                'Спасибо за новый взгляд на жизнь',
                                'Елена',
                                'Операция изменила мою жизнь к лучшему. Теперь я уверена в себе и не боюсь смотреть в зеркало. Огромное спасибо всей команде!',
                                'Иванова Татьяна Сергеевна',
                                'Сергеева Анна Владимировна'
                            ) }}
                        </div>

                        <!-- Слайд 4 -->
                        <div class="swiper-slide">
                            {{ reviewCard(
                                '/assets/images/content/review-card1.jpg',
                                'Профессионалы своего дела',
                                'Дмитрий',
                                'Отличная клиника, внимательный персонал. Результатом очень доволен. Буду рекомендовать знакомым.',
                                'Кузнецов Андрей Владимирович'
                            ) }}
                        </div>
                    </div>
                </div>

                <!-- Навигация -->
                <div class="reviews-slider__nav">
                    <div class="reviews-slider__button-prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 6L8.34315 11.6569L14 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="reviews-slider__button-next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 6L15.6569 11.6569L10 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
</section>