@use "core/mixins" as mix;
@use "core/breakpoints" as bp;

.reviews-short {
    position: relative;
    background: var(--color-8);

    @include bp.mq(tablet-xl) {
        padding-top: 25px;
    }

    .border-wrapper__outer {
        @include bp.mq(mobile-xl) {
            position: absolute;
            right: 0;
            left: 0;
            margin-right: -20px;
            margin-left: -20px;
            border: 1px solid #be9158;
        }
    }

    .border-wrapper__inner {
        @include bp.mq(mobile-xl) {
            position: absolute;
            right: 0;
            left: 0;
            margin-right: -20px;
            margin-left: -20px;
            border: 1px solid #be9158;
        }
    }

    .border-wrapper__header {
        position: static;
        margin-bottom: 0;
        transform: none;

        h2 {
            margin-top: 120px;
        }
    }

    .border-block {
        position: absolute;
        top: 105px;
        left: 50%;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 276px;
        padding: 4px;
        background: transparent;
        border: 1px solid #c0a97f;
        border-radius: 49px;
        transform: translateX(-50%) translateY(0);
        transition: transform 0.3s ease;

        @include bp.mq(tablet-xl) {
            top: 50px;
        }

        &:hover {
            transform: translateX(-50%) translateY(-2px);
        }

        @include bp.mq(mobile-l) {
            max-width: 328px;
        }

        a {
            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 16px 30px;
            overflow: hidden;
            color: white;
            text-decoration: none;
            background: linear-gradient(89deg, #967252 15.33%, #ceb48d 97.83%);
            border-radius: 49px;

            @include bp.mq(mobile-xl) {
                width: 100%;
                padding: 14px 30px;
                text-align: center;
            }

            &::before {
                position: absolute;
                inset: 0;
                z-index: -1;
                content: "";
                background: linear-gradient(89deg, #ceb48d 15.33%, #967252 97.83%);
                border-radius: 49px;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    .border-wrapper__content {
        padding-top: 33px;
    }

    &__ratings {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        margin-bottom: 12px;
    }

    &__rating-link {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 16px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: var(--color-12);
        background: var(--color-white);
        border: 1px solid var(--color-white);
        border-radius: 39px;
        transition: all 0.3s ease;

        @include bp.mq(mobile-xl) {
            padding: 10px;
            font-size: 16px;
        }

        &:hover {
            text-decoration: none;
            border: 1px solid var(--color-12);
            transform: translateY(-2px);
        }
    }

    &__stats {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }

    &__stat {
        margin-bottom: 24px;

        &:first-child {
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 136%;
            background: var(--bg-frame, linear-gradient(89deg, #967252 15.33%, #ceb48d 97.83%));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:last-child {
            max-width: 330px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 136%;
            color: var(--color-1);

            @include bp.mq(mobile-xl) {
                font-size: 18px;
            }
        }
    }

    .reviews-short__slider {
        @include mix.swiper-nav-styles(
            "reviews-slider__nav",
            "reviews-slider__button-prev",
            "reviews-slider__button-next"
        );

        @include bp.mq(mobile-xl) {
            padding-right: 0;
            margin-right: -20px;
        }
        @include bp.mq(mobile-l) {
            margin-right: -15px;
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }
}

.reviews-short-sub {
    .reviews-short__slider {
        margin-top: 34.5px;
    }

    .section-title {
        span {
            &::after {
                width: 100%;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1346' height='28' viewBox='0 0 1346 28' fill='none'%3E%3Cpath d='M33.5 0.5H15C15 0.5 0.5 0.5 0.5 15C0.5 27 16.5 27 16.5 27H1324.5C1324.5 27 1345.28 27 1345.28 15C1345.28 3 1334.5 0.5 1334.5 0.5H1317.5' stroke='%23C0A97F'/%3E%3C/svg%3E")
                    no-repeat center;
                background-size: 100% 100%;

                @include bp.mq(tablet-m) {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='603' height='28' viewBox='0 0 603 28' fill='none'%3E%3Cpath d='M23.6327 0.5H10.6644C10.6644 0.5 0.5 0.5 0.5 15.2736C0.5 27.5 11.7159 27.5 11.7159 27.5H587.93C587.93 27.5 602.5 27.5 602.5 15.2736C602.5 3.04717 594.94 0.5 594.94 0.5H583.023' stroke='%23967252'/%3E%3C/svg%3E");
                    background-size: 100% 100%;
                }
            }

            @include bp.mq(mobile-xl) {
                word-break: normal;
                overflow-wrap: break-word;
            }
        }
    }
}
