@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.tabs {
  &__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;

    @include bp.mq(mobile-xl) {
      gap: 5px;
    }
  }

  &__btn {
    background: none;
    border: 1px solid #BE9158;
    border-radius: 7px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: var(--color-brown-dark);
    cursor: pointer;
    padding: 16px 30px;
    position: relative;
    isolation: isolate;
    transition: color 0.3s ease;

    @include bp.mq(mobile-xl) {
      padding: 12px 25px;
      font-size: 16px;
    }


    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 6px;
      background: linear-gradient(216deg, #E1AC68 9.39%, #A07049 90.71%);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    &:hover {
      color: var(--color-white);

      &::before {
        opacity: 1;
      }
    }

    &.active {
      color: var(--color-white);

      &::before {
        opacity: 1;
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
  }

  &__panel {
    animation: slideLeft 0.4s ease forwards;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}