<section class="what-price section">
    <div class="what-price__bg"></div>
    <div class="what-price__decor"></div>
    <div class="container">
        <div class="what-price__header">
            {% set title = {
                text: "<span>Из чего складывается стоимость операции</span>",
                tag: "h2",
                class: "section-title"
            } %}
            {% include "components/general/title/title.njk" %}
        </div>

        <div class="what-price__list">
            <div class="what-price__item">
                <div class="what-price__icon">
                    <img src="/assets/images/content/price-icon-1.png" alt="Стационар дневной 1-2 суток" width="123" height="116">
                </div>
                <p class="what-price__text">Стационар дневной 1-2 суток</p>
            </div>

            <div class="what-price__item">
                <div class="what-price__icon">
                    <img src="/assets/images/content/price-icon-2.png" alt="Импланты - при увеличении груди или ягодиц" width="123" height="116">
                </div>
                <p class="what-price__text">Импланты - при увеличении груди или ягодиц</p>
            </div>

            <div class="what-price__item">
                <div class="what-price__icon">
                    <img src="/assets/images/content/price-icon-3.png" alt="Компрессионное бельё" width="133" height="126">
                </div>
                <p class="what-price__text">Компрессионное бельё</p>
            </div>

            <div class="what-price__item">
                <div class="what-price__icon">
                    <img src="/assets/images/content/price-icon-4.png" alt="Компрессионные чулки" width="123" height="116">
                </div>
                <p class="what-price__text">Компрессионные чулки</p>
            </div>

            <div class="what-price__item">
                <div class="what-price__icon">
                    <img src="/assets/images/content/price-icon-5.png" alt="Наркоз или местная анастезия" width="123" height="116">
                </div>
                <p class="what-price__text">Наркоз или местная анастезия</p>
            </div>
        </div>

        <div class="what-price__footer">
            <p class="what-price__text-wrapper">
                Подбирается индивидуально под операцию. Стоимость предоперационных обследований не входит в стоимость операции. Можно пройти у нас в клинике или предоставить из другого учреждения.
            </p>
        </div>
    </div>
</section>