{# blocks/common/article-text/article-text-sub.njk #}

<section class="article-text section article-text-sub">
    <img class="lazy" src="/assets/images/content/article-text-img-sub.png" alt="">
    <div class="container">
        <div class="article-text__header">
            <h2 class="section-title">Возможные риски<br>и осложнения</h2>
        </div>

        <div class="article-text__content">
            <div class="article-text__text-wrapper">
                <h3>Заголовок для текста</h3>
                <ul>
                    <li>Клиника лицензирована на применение наркотических препаратов</li>
                    <li>Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода</li>
                    <li>Возможность выполнения длительных и комплексных операций с поддержкой реанимации</li>
                    <li>Высокий уровень качества наркоза и безопасности пациента</li>
                </ul>

                <h3>Заголовок для текста</h3>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
            </div>

            <div class="article-text__hidden" data-hidden-content>
                <h3>Заголовок для текста</h3>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <ul>
                    <li>Клиника лицензирована на применение наркотических препаратов</li>
                    <li>Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода</li>
                    <li>Возможность выполнения длительных и комплексных операций с поддержкой реанимации</li>
                    <li>Высокий уровень качества наркоза и безопасности пациента</li>
                </ul>

                <h3>Заголовок для текста</h3>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
                <p>Клиника лицензирована на применение наркотических препаратов, что обеспечивает высокий уровень качества наркоза. Операции проводятся на базе ЦКБ ГА с центральной подачей медицинских газов и кислорода. Возможность выполнения длительных и комплексных операций с поддержкой реанимации.</p>
            </div>

            <div class="border-block">
                <button class="article-text__show-more" data-toggle-btn>
                    <span>Подробнее</span>
                </button>
            </div>
        </div>
    </div>
</section>