<div class="contacts-footer">
    <div class="item phones">
       <a href="tel:+74957961145,">+7 (495) 796-11-45</a>
    </div>
    <div class="item email"><a href="mailto:bios-med@yandex.ru">bios-med@yandex.ru</a></div>
    <div class="item address">Москва, Иваньковское шоссе, д. 7</div>
</div>