{% from "components/general/service-variants-card/service-variants-card.njk" import serviceVariantsCard %}

<section class="breast-before-after section">

    <div class="container">

        <div class="breast-before-after__header">
            <h2 class="section-title"><span>Грудь</span></h2>
            <p class="breast-before-after__subtitle">Современная пластическая хирургия молочных желез для естественного и гармоничного результата</p>
        </div>

        <!-- Слайдер на мобилке, сетка на десктопе -->
        <div class="breast-before-after__slider">
            <div class="swiper breast-before-after-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ serviceVariantsCard(
                            icon="/assets/images/content/breast-before-after-1.jpg",
                            imageMobile="/assets/images/content/breast-before-after-1-mobile.jpg",
                            title="Эндопротезирование молочных желез  Увеличение груди имплантами",
                            text="60-90 минут, реабилитация 1 месяц ",
                            showLink=true,
                            linkText="Узнать подробнее",
                            url="#"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ serviceVariantsCard(
                            icon="/assets/images/content/breast-before-after-2.jpg",
                            imageMobile="/assets/images/content/breast-before-after-1-mobile.jpg",
                            title="Подтяжка груди, мамтопексия",
                            text="1,5 - 3 часа, реабилитация 1 месяца",
                            showLink=true,
                            linkText="Узнать подробнее",
                            url="#"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ serviceVariantsCard(
                            icon="/assets/images/content/breast-before-after-3.jpg",
                            imageMobile="/assets/images/content/breast-before-after-1-mobile.jpg",
                            title="Редукционная маммопластика. Уменьшение груди",
                            text="2,5-4 часа, реабилитация 1 месяц",
                            showLink=true,
                            linkText="Узнать подробнее",
                            url="#"
                        ) }}
                    </div>
                    <div class="swiper-slide">
                        {{ serviceVariantsCard(
                            icon="/assets/images/content/breast-before-after-4.jpg",
                            imageMobile="/assets/images/content/breast-before-after-1-mobile.jpg",
                            title="Гинекомастия. Пластика груди у мужчин",
                            text="30-90 минут, реабилитация 1 месяц",
                            showLink=true,
                            linkText="Узнать подробнее",
                            url="#"
                        ) }}
                    </div>
                </div>

                <!-- Навигация слайдера -->
                <div class="breast-before-after-slider__nav">
                    <div class="breast-before-after-slider__button-prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 6L8.34315 11.6569L14 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="breast-before-after-slider__button-next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 6L15.6569 11.6569L10 17.3137" stroke="#BE9158" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
