<div id="popup-lipofilling" class="popup-lipofilling">
    <div class="block">
        <h3>Липофилинг ягодиц — реабилитация</h3>
        <p>Период восстановления занимает в среднем 2–4 недели.</p>
        <div>
            <b>В ранний период:</b>
            <ul>
                <li>отёки и синяки в зоне липосакции и введения жира </li>
                <li>умеренный дискомфорт</li>
            </ul>
        </div>
        <div>
            <b>Рекомендации:</b>
            <ul>
               <li>ношение компрессионного белья в течение 3–4 недель</li>
               <li>ограничение сидения на ягодицах в первые 10–14 дней</li>
               <li>сон преимущественно на животе или боку</li>
               <li>исключение активных физических нагрузок на 3–4 недели</li>
            </ul>
        </div>
        <p>Важно соблюдать рекомендации врача для лучшего приживления жировой ткани.</p>
        <p>Первичный результат виден сразу, окончательный — через 1–3 месяца</p>
    </div>
</div>