<div id="popup-increase" class="popup-increase">
    <div class="block">
        <h3>Увеличение ягодиц филлерами — реабилитация</h3>
        <p>Реабилитация проходит быстро и комфортно.</p>
        <div>
            <b>В первые дни возможны: </b>
            <ul>
                <li>умеренная отёчность</li>
                <li>чувствительность в зоне коррекции </li>
                <li>небольшие синяки</li>
            </ul>
        </div>
        <div>
            <b>Рекомендации:</b>
            <ul>
               <li>ограничить физические нагрузки на 3–5 дней</li>
               <li>избегать давления на область ягодиц в первые сутки </li>
               <li>исключить сауну, баню и горячие ванны на 5–7 дней</li>
            </ul>
        </div>
        <p>Возвращение к обычному образу жизни — практически сразу. Окончательный результат оценивается через 1–2 недели.</p>
    </div>
</div>