@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.hero__navigation {
  margin-top: 42px;
  margin-bottom: 55px;
  max-width: 699px;

  @include bp.mq(tablet-l) {
    margin-bottom: 99px;
  }

  @include bp.mq(mobile-xl) {
    display: none;
  }

  .navigation-hero {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 45px;
      row-gap: 20px;
      list-style-type: none;
      padding-left: 0;
    }

    &__item {
      display: flex;
      gap: 10px;
      align-items: center;
      transition: all 0.3s ease;

      &:hover {
        transform: translateX(5px);
      }
    }

    &__link {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 96%;
      text-transform: uppercase;
      color: var(--color-gold);
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
        color: var(--color-white);
      }
    }
  }
}