<section class="about-description section">

    <!-- Первый блок -->
    <div class="about-description__content">
        <div class="container">
            <div class="about-description__left">
                <div class="about-description__text-block">
                    <h2 class="section-title">Хирурги клиники БИОС</h2>
                    <div class="about-description__text">
                        <p>В клинике работают пластические хирурги с большим практическим опытом и узкой специализацией.</p>
                        <p>Это позволяет добиваться стабильных и предсказуемых результатов. Хирурги клиники выполняют в том числе: сложные комбинированные операции, повторные и реконструктивные вмешательства</p>
                        <p>Наши специалисты:</p>
                    </div>
                </div>

                <div class="about-description__list">
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-1.png" alt="Регулярно повышают квалификацию" width="127" height="120">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Регулярно повышают квалификацию</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-2.png" alt="Обучаются современным методикам" width="127" height="120">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Обучаются современным методикам</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-2.png" alt="Участвуют в профессиональных конгрессах" width="127" height="120">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Участвуют в профессиональных конгрессах</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-2.png" alt="Внедряют новые технологии в практику" width="127" height="120">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Внедряют новые технологии в практику</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Второй блок -->
    <div class="about-description__content">
        <div class="container">
            <div class="about-description__right">
                <div class="about-description__text-block">
                    <h2 class="section-title">Современное оборудование и технологии</h2>
                    <div class="about-description__text">
                        <p>Клиника оснащена современным медицинским оборудованием:</p>
                    </div>
                </div>

                <div class="about-description__list">
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-5.png" alt="Эндоскопические системы" width="82" height="78">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Эндоскопические системы</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-6.png" alt="Аппараты для вибрационной липосакции (PAL, Vibrosat)" width="81" height="77">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Аппараты для вибрационной липосакции (PAL, Vibrosat)</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-7.png" alt="Пьезотом для ультразвуковой ринопластики" width="81" height="77">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Пьезотом для ультразвуковой ринопластики</p>
                        </div>
                    </div>
                    <div class="about-description__item">
                        <div class="about-description__item-icon">
                            <img src="/assets/images/content/about-icon-8.png" alt="Наркозные аппараты Dräger и Mindray" width="82" height="78">
                        </div>
                        <div class="about-description__item-content">
                            <p class="about-description__item-text">Наркозные аппараты Dräger и Mindray</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-description__footer">
            <div class="container">
                <h3>Использование современных технологий позволяет добиться:</h3>
                <div class="about-description__footer-list">
                    <div class="about-description__footer-item">
                        <div>
                            <p>Точности операций</p>
                        </div>
                    </div>
                    <div class="about-description__footer-item">
                        <div>
                            <p>Минимальной травматичности</p>
                        </div>
                    </div>
                    <div class="about-description__footer-item">
                        <div>
                            <p>Быстрой реабилитации</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>