<div id="popup-consultation" class="popup-consultation">
    <div class="block">
        <div class="heading">
            <div class="title">запишитесь на консультацию</div>
            <div class="text">Заполните поля и мы с Вами свяжемся для уточнения деталей</div>
        </div>
        <div class="frame">
            {% include "components/general/form/form-2.njk" %}
        </div>
    </div>
</div>