{% from "components/general/consent-notice/consent-notice.njk" import render as consentNotice %}
{% from "components/general/breadcrumbs/breadcrumbs.njk" import render as breadcrumbsComponent %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include "blocks/general/meta/meta.njk" %}
        <link rel="stylesheet" href="./css/bundle.css" />
    </head>
    <body>
        <div class="site">

            {% include "blocks/general/header/header.njk" %}

            <main class="page">
                {% set page = page | default({}) %}
                {% set page = {
                    breadcrumbs: page.breadcrumbs | default(true),
                    heading: page.heading | default(true),
                    breadcrumbsSeparator: page.breadcrumbsSeparator | default("line-gradient")
                } %}

                {% if page.breadcrumbs or page.heading %}
                    <div class="page-header">
                        {% if page.breadcrumbs and breadcrumbs.items %}
                            {{ breadcrumbsComponent(
                                items=breadcrumbs.items,
                                size="sm",
                                separator=page.breadcrumbsSeparator
                            ) }}
                        {% endif %}
                        {% if page.heading %}
                            {% include "components/general/heading/heading.njk" %}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="page-content">{% block content %}{% endblock %}</div>
            </main>

            {% include "blocks/general/footer/footer.njk" %}

            {% include "components/common/popup-entry/popup-entry.njk" %}
            {% include "components/common/popup-consultation/popup-consultation.njk" %}
            {% include "components/common/popup-find-more/popup-find-more.njk" %}
            {% include "components/common/popup-what-this/popup-what-this.njk" %}
            {% include "components/common/popup-who-suitable/popup-who-suitable.njk" %}
            {% include "components/common/popup-reconstructive-rhinoplasty/popup-reconstructive-rhinoplasty.njk" %}
            {% include "components/common/popup-rehabilitation/popup-rehabilitation.njk" %}
            {% include "components/common/popup-increase/popup-increase.njk" %}
            {% include "components/common/popup-lipofilling/popup-lipofilling.njk" %}
            {% include "components/common/popup-gluteoplasty/popup-gluteoplasty.njk" %}
            {% include "components/common/popup-butterfly/popup-butterfly.njk" %}
            {% include "components/common/popup-before-after/popup-before-after.njk" %}
            {% include "components/general/menu/menu.njk" %}

            {% set consentContent %}
                Мы используем файлы cookie и сервис веб-аналитики Яндекс Метрика для улучшения работы сайта. Оставаясь на сайте, вы соглашаетесь с <a href="./policy.html">Политикой конфиденциальности</a>.
            {% endset %}
            {{ consentNotice(content=consentContent) }}
        </div>
        <script src="./js/bundle.js"></script>
    </body>
</html>