@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.hero {
    position: relative;
    min-height: 958px;
    padding-top: 194px;
    padding-bottom: 101px;

    @include bp.mq(tablet-xl) {
        padding-bottom: 59px;
    }

    @include bp.mq(mobile-xl) {
        padding-bottom: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &.hero-services {
        min-height: 954px;

        h1 {
            margin-top: 110px;

            @include bp.mq(tablet-xl) {
                margin-top: 0;
                margin-bottom: 70px;
            }

            @include bp.mq(mobile-xl) {
                margin-bottom: 10px;
            }
        }

        .hero__bg {
            position: absolute;
            inset: 0;
            z-index: 0;
            background: url("../assets/images/content/hero-services-bg.png") no-repeat center;
            background-size: cover;

            @include bp.mq(laptop-m) {
                background: url("../assets/images/content/hero-services-bg-laptop.png") no-repeat center;
                background-size: cover;
            }

            @include bp.mq(tablet-xl) {
                background: url("../assets/images/content/hero-services-bg-tablet.png") no-repeat center;
                background-size: cover;
            }

            @include bp.mq(mobile-xl) {
                background: url("../assets/images/content/hero-services-bg-mobile.png") no-repeat center;
                background-size: cover;
            }
        }

        .slider {
            top: 44%;
        }
    }

    &__bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        background: url("../assets/images/content/hero-bg.png") no-repeat center;
        background-size: cover;

        @include bp.mq(laptop-m) {
            background: url("../assets/images/content/hero-bg-laptop.png") no-repeat center;
            background-size: cover;
        }

        @include bp.mq(tablet-xl) {
            background: url("../assets/images/content/hero-bg-tablet.png") no-repeat center;
            background-size: cover;
        }

        @include bp.mq(mobile-xl) {
            background: url("../assets/images/content/hero-bg-mobile.png") no-repeat center;
            background-size: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 699px;
        margin-bottom: 20px;

        @include bp.mq(mobile-xl) {
            gap: 27px;
            align-items: center;
            margin-bottom: 88px;
        }
    }

    &__title {
        @include bp.mq(mobile-xl) {
            max-width: 325px;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 96%;
        color: var(--color-white);

        @include bp.mq(mobile-xl) {
            font-size: 16px;
        }
    }

    .border-block {
        @include mix.border-block;
    }

    &__btn {
        @include mix.button-gradient;

        width: 100%;
        backdrop-filter: blur(2px);

        &:hover {
            transform: none;
        }
    }

    .slider {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 3;
        width: calc(100% - 56%);
        max-width: 44%;
        overflow: hidden;
        transform: translateY(-50%);

        @include bp.mq(laptop-m) {
            max-width: 725px;
        }

        @include bp.mq(laptop) {
            max-width: 580px;
        }

        @include bp.mq(tablet-xl) {
            position: relative;
            width: 100%;
            max-width: 100%;
            padding-left: 24px;
            transform: none;
        }

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: auto;
            height: auto;
        }
    }
}

.hero-services-detail {
    min-height: 771px;

    @include bp.mq(tablet-xl) {
        padding-top: 145px;
    }

    @include bp.mq(mobile-xl) {
        padding-top: 120px;
    }

    @include bp.mq(mobile-l) {
        padding-top: 100px;
    }

    .hero__content {
        max-width: 920px;
        gap: 0;
    }

    h1 {
        font-size: 60px;
        text-align: left;
        margin: 0 0 29px 0;

        @include bp.mq(mobile-xl) {
            font-size: 38px;
            text-align: left;
            margin-bottom: 13px;
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .hero__description {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        color: var(--color-white);
        margin-bottom: 36px;
        text-align: left;

        @include bp.mq(mobile-xl) {
            font-size: 16px;
            text-align: left;
            margin-bottom: 21px;
        }
    }

    .hero__actions {
        display: flex;
        gap: 10px;
        margin-bottom: 75px;
        align-items: center;

        @include bp.mq(mobile-xl) {
            flex-direction: column;
            gap: 6px;
        }

        .border-block {
            @include bp.mq(mobile-xl) {
                width: 100%;
            }
        }

        .hero__btn {
            width: auto;
        }

        .hero__link {
            @include mix.button-gradient;
            background: transparent;
            backdrop-filter: blur(2px);
            color: var(--color-18);

            &:hover {
                transform: none;
                text-decoration: none;
            }
        }
    }
}

.rhinoplasty-hero {
    .hero__bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        background: url("../assets/images/content/hero-services-detail-bg.png") no-repeat center;
        background-size: cover;

        @include bp.mq(laptop-m) {
            background: url("../assets/images/content/hero-services-detail-bg-laptop.png") no-repeat center;
            background-size: cover;
        }

        @include bp.mq(tablet-xl) {
            background: url("../assets/images/content/hero-services-detail-bg-tablet.png") no-repeat center;
            background-size: cover;
        }

        @include bp.mq(mobile-xl) {
            background: url("../assets/images/content/hero-services-detail-bg-mobile.png") no-repeat center;
            background-size: cover;
        }
    }
}